<% content_for :css do %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<%= stylesheet_link_tag "bootstrap_and_customization"  %>
<% end %>

<head>
	<title>16 Métriques pour Startups - Newsletter 30 Août 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Focus sur l’analytics et les métriques business cette semaine. Une bonne configuration et compréhension de ces deux éléments vous sauvera dans de nombreux cas." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="16 Métriques pour Startups" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://croissant.io/16-metriques-startups" />
    <meta property="og:description" content="Focus sur l’analytics et les métriques business cette semaine. Une bonne configuration et compréhension de ces deux éléments vous sauvera dans de nombreux cas." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/30-aout.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://croissant.io/16-metriques-startups">
	<meta name="twitter:title" content="Dette Analytics">
	<meta name="twitter:description" content="Focus sur l’analytics et les métriques business cette semaine. Une bonne configuration et compréhension de ces deux éléments vous sauvera dans de nombreux cas.">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/30-aout.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>16 Métriques pour Startups</h1>
					<div class="newsletter-date">
						<p>Newsletter du 30 Août 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Focus sur l’analytics et les métriques business cette semaine. Une bonne configuration et compréhension de ces deux éléments vous sauvera dans de nombreux cas.</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://a16z.com/2015/08/21/16-metrics/">
											[Article] 16 Startups Metrics
										</a>
									</p>
								</div>
								<div class="description">
									<p>Toutes les métriques ne sont pas bonnes à suivre, d’autres sont quant-à elles essentielles. Dans cet article, l’équipe de a16z revient sur 16 métriques importantes pour tout business. À lire absolument!</p>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://blog.optimizely.com/wp-content/uploads/2015/04/Optimizely_GrowthMarketer_Infographic.png">
											[Infographie] How to find the next great growth marketer
										</a>
									</p>
								</div>
								<div class="description">
									<p>Infographie intéressante d’Optimizely sur les “soft skills” qu’ont les bons growth marketers. Skills à connaître si vous souhaitez recruter un profil de ce type.</p>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://blog.growth.supply/the-fantastic-4-funnel-model-growth-retention-dc47f1c761cd">
										[Article] The Fantastic 4 Funnel, Model, Growth & Retention
										</a>
									</p>
								</div>
								<div class="description">
									<p>Dans cet article, Jean de La Rochebrochard (Partner chez TheFamily) revient sur quatre métriques à suivre pour toutes startups: “Funnel, Model, Growth & Retention”.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.pierrelechelle.com/growth-hacking-strategy">
										[Article] The Strategy behind Growth Hacking
									</a></p>
								</div>
								<div class="description">
									<p>
										Approche intéressante prise dans cet article qui met en avant toute la partie stratégie et process du marketing & growth avant le choix de quelconques tactiques.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://blog.trak.io/the-executives-60-minute-survival-guide-to-customer-analytics/">
										[Article] The Executive’s Survival Guide To Customer Analytics
										</a>
									</p>
								</div>
								<div class="description">
									<p>Article complet sur la réfléxion à adopter lorsque vous réfléchissez à tout ce qui touche à l’analytics (“focussing on the business benefits over the technology”).</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://mynaweb.com">
											[Produit] Myna - A/B testing that learns as you test
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Myna vous permet de tester votre site ou produit web grâce à une approche un peu différente de l’A/B testing - le “bandit testing” (l’utilisation d'algorithme pour ajuster le test en temps réel).
									</p>
								</div>
								<div class="image">
									<a href="https://mynaweb.com"><%= image_tag("newsletters/myna.png", alt: "Myna", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://mouseflow.com">
											[Produit] MouseFlow - Do you understand your visitors?
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Mouseflow vous permet d'enregistrer des vidéos de vos visiteurs et de créer des clickmaps pour comprendre au mieux le comportement de ces derniers.
									</p>
								</div>
								<div class="image">
									<a href="https://mouseflow.com"><%= image_tag("newsletters/mouseflow.png", alt: "Mouseflow", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://www.getairhelp.com/en/jobs/marketing-manager-france-166">[CDI] Paris - Marketing Manager France pour AirHelp</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-hacker-budeal-stage-paris-hf/">[Stage] Paris - “Growth Hacker” pour Budeal</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.festicket.com/jobs/#new-ecrm-manager">[CDI] Londres - “Marketing - Email & Engagement" pour Festicket</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-flayrfr-cdi-paris-hf/">[CDI] Paris - Growth Manager pour Flayr</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>
