<head>
	<title>Alex Schultz, VP Growth chez Facebook - Newsletter 5 Juillet 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Facebook est souvent pris en exemple lorsque l’on parle de marketing et croissance. Et pour cause, avec presque un milliard d'utilisateurs actifs quotidiens, Facebook est aujourd’hui le deuxième site internet le plus visité au monde derrière Google. Quoi de mieux donc que d’écouter Alex Schultz, leur actuel VP Growth partager ses connaissances sur le marketing." />
    <meta name="author" content="Croissant" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="Alex Schultz, VP Growth chez Facebook" />
    <meta property="og:site_name" content="Croissant" />
    <meta property="og:url" content="http://croissant.io/alex-schultz-vp-growth-facebook" />
    <meta property="og:description" content="Facebook est souvent pris en exemple lorsque l’on parle de marketing et croissance. Et pour cause, avec presque un milliard d'utilisateurs actifs quotidiens, Facebook est aujourd’hui le deuxième site internet le plus visité au monde derrière Google. Quoi de mieux donc que d’écouter Alex Schultz, leur actuel VP Growth partager ses connaissances sur le marketing." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/5-juillet.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://croissant.io/alex-schultz-vp-growth-facebook">
	<meta name="twitter:title" content="Alex Schultz, VP Growth chez Facebook">
	<meta name="twitter:description" content="Facebook est souvent pris en exemple lorsque l’on parle de marketing et croissance. Et pour cause, avec presque un milliard d'utilisateurs actifs quotidiens, Facebook est aujourd’hui le deuxième site internet le plus visité au monde derrière Google. Quoi de mieux donc que d’écouter Alex Schultz, leur actuel VP Growth partager ses connaissances sur le marketing.">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/5-juillet.png")) %>

</head>
<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Alex Schultz, VP Growth chez Facebook</h1>
					<div class="newsletter-date">
						<p>Newsletter du 5 Juillet 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !<p></br>
							<p>Facebook est souvent pris en exemple lorsque l’on parle de marketing et croissance. Et pour cause, avec presque un milliard d'utilisateurs actifs quotidiens, Facebook est aujourd’hui le deuxième site internet le plus visité au monde derrière Google. Quoi de mieux donc que d’écouter Alex Schultz, leur actuel VP Growth partager ses connaissances sur le marketing.</p>
							</br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.youtube.com/watch?v=8qwV-sAHsG8">[Vidéo] Growth - Alex Schultz</a></p>
								</div>
								<div class="description">
									<p>Alex Schultz, VP Growth chez Facebook parle des compréhensions importantes à effectuer, des étapes à franchir lorsque l’on veut faire croître un produit et partage quelques retours d’expériences.</a></p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://robots.thoughtbot.com/create-a-retention-curve-with-mixpanel-and-google-sheets">[Article] Create a Retention Curve with Mixpanel and Google Sheets</a></p>
								</div>
								<div class="description">
									<p>De nombreux outils proposent d’analyser la rétention de votre produit grâce à un tableau de cohorte. Bien qu’utile, cette présentation n’est pas toujours la plus visuelle. Une alternative est de créer une courbe de rétention à partir des données brutes.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://fr.slideshare.net/sammallikarjunan/inboundorg-technical-seo-audit">[Document] Inbound.org Technical SEO Audit</a></p>
								</div>
								<div class="description">
									<p>Le SEO est toujours l’un des canaux d’acquisition les plus performants pour beaucoup de business; aussi bien en B2C qu'en B2B. Un audit de votre SEO peut être une bonne façon de découvrir des leviers de croissance sous exploités.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://medium.com/@dicek344/need-more-growth-try-these-3-easy-and-powerful-google-analytics-remarking-lists-21345f11410f">[Article] A Beginner’s Guide to Google Analytics Remarketing</a></p>
								</div>
								<div class="description">
									<p>Le retargeting a été popularisé dans l’écosystème startup grâce à des entreprises comme Criteo ou AdRoll. Pratique similaire mais un peu moins connu, le remarketing est dans cet article bien expliqué par un ancien de chez Google (Googler).</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://soundcloud.com/the-growth-show/codecademy">[Podcast] Codecademy CEO Zach Sims</a></p>
								</div>
								<div class="description">
									<p>Dans cet épisode du “Growth Show”, le CEO de Codeacademy discute de l’importance de la programmation et de la compréhension des technologies pour les marketeurs mais aussi de la croissance de sa société. Podcast très intéressant!</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="http://cromonitor.com/">[Produit] CROMonitor - Monitor Your Competitor's A/B & MV Tests</a></p>
								</div>
								<div class="description">
									<p>L’optimisation des taux de conversion (CRO) s’est généralisée et vos concurrents utilisent surement ces techniques. CROMonitor vous permet de surveiller les tests qu’ils effectuent.</p>
								</div>
								<div class="image">
									<a href="http://cromonitor.com/"><%= image_tag("newsletters/cromonitor.png", alt: "CROMonitor", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="http://www.screenful.me/">[Produit] Screenful - Supercharge your agile team</a></p>
								</div>
								<div class="description">
									<p>Screenful vous permet de séléctionner les métriques qui compte pour votre business et de créer des tableaux vous permettant de partager ces informations avec votre équipe simplement.</p>
								</div>
								<div class="image">
									<a href="http://www.screenful.me/"><%= image_tag("newsletters/screenful.png", alt: "Screenful", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/marketing-communication-envoituresimone-stage-paris-hf/">[CDI] Paris - Marketing / Communication pour En Voiture Simone</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azn.do/growth-hacker-recruitment">[CDI] Bordeaux - Growth Expert pour Azendoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://angel.co/lima-1/jobs/72144-growth-hacker">[Stage] Paris - Growth Hacker pour Lima</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://3dsoundlabs.com/recrutement/#webmkg">[Stage] Paris - Chef de Projet Marketing pour 3dsoundlabs</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://payplug.workable.com/jobs/75633">[Stage] Paris - Stagiaire Web Marketing pour PayPlug</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>