<head>
	<title>Que peut-on apprendre du CMO de Slack? - Newsletter 6 Juin 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="On ne présente plus Slack, ajoutant 1M$ ARR tous les 11 jours avec 750000 DAU. Ce qui est moins connu, c’est le gros coup qu’à fait Slack en recrutant Bill Macaitis (ex-Salesforce, ex-Zendesk) fin 2014.">
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="Que peut-on apprendre du CMO de Slack?" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/apprendre-cmo-slack" />
    <meta property="og:description" content="On ne présente plus Slack, ajoutant 1M$ ARR tous les 11 jours avec 750000 DAU. Ce qui est moins connu, c’est le gros coup qu’à fait Slack en recrutant Bill Macaitis (ex-Salesforce, ex-Zendesk) fin 2014." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(meta, property: 'og:image', content: asset_url("newsletters/6-juin.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/apprendre-cmo-slack">
	<meta name="twitter:title" content="Que peut-on apprendre du CMO de Slack?">
	<meta name="twitter:description" content="On ne présente plus Slack, ajoutant 1M$ ARR tous les 11 jours avec 750000 DAU. Ce qui est moins connu, c’est le gros coup qu’à fait Slack en recrutant Bill Macaitis (ex-Salesforce, ex-Zendesk) fin 2014.">
	<%= tag(meta, property: 'twitter:image', content: asset_url("newsletters/6-juin.png")) %>

</head>
<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Que peut-on apprendre du CMO de Slack?</h1>
					<div class="newsletter-date">
						<p>Newsletter du 6 Juin 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Une semaine de plus de passée en cette année 2015.</br>Cela signifie aussi l’arrivée de l’été :)</p></br>

							<p>Et quoi de mieux qu’un peu de lecture au soleil?</p></br>

							<p>Bonne lecture et bon weekend,</br>L'équipe TGB.<p></br>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.youtube.com/watch?v=XU7dpagKP7M">[Vidéo] AMA with BillMacaitis, CMO at Slack</a></p>
								</div>
								<div class="description">
									<p>On ne présente plus Slack, ajoutant 1M$ ARR tous les 11 jours avec 750000 DAU. Ce qui est moins connu, c’est le gros coup qu’à fait Slack en recrutant Bill Macaitis (ex-Salesforce, ex-Zendesk) fin 2014. Bill a une vision très orientée client et holistique du marketing. Une combinaison gagnante pour toutes les entreprises dont le business modèle n’est pas transactionnel mais basé sur une relation à long terme.</a></p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://gainbits.com/attack-tough-growth-problems-with-simplicity">[Article] Attack tough growth problems with simplicity</a></p>
								</div>
								<div class="description">
									<p>Le marketing est une discipline de plus en plus complexe (multiplication des canaux d'acquisition et des outils), son objectif est pour autant toujours aussi simple. La simplification du processus marketing & growth permet d’avoir une meilleure compréhension de ces derniers. “If you can’t explain it simply, you don’t understand it very well.”</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.youtube.com/watch?v=vewrG45Mi2I">[Vidéo] How We Grew Square to $10B in Payments</a></p>
								</div>
								<div class="description">
									<p>Retour d’expérience sur la croissance de Square avec encore une fois une approche très simple de la croissance et des éléments importants à la réussite d’une startup: “Build. Message. Market.”</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://caseyaccidental.com/perils-benefits-of-ab-testing/">[Article] The Perils and Benefits of AB Testing</a></p>
								</div>
								<div class="description">
									<p>Très bon article de Casey Winters (Growth à Pinterest) sur les dangers et les bénéfices de l’A/B testing dans une stratégie de croissance.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.youtube.com/watch?v=nlqo3GLNk2A">[Vidéo] 10 Habits of High-Growth Startups</a></p>
								</div>
								<div class="description">
									<p>Après avoir analysé des dizaines de startups à forte croissance, Sean Ellis revient sur ces apprentissages dans cette vidéo. Il nous partage les 10 points qu’il pense les plus importants pour faire croître votre startup.</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://yoast.com/">[Produit] Yoast - The Art & Science of Website Optimization.</a></p>
								</div>
								<div class="description">
									<p>Yoast est une suite d’outils d’optimisation de votre site internet (principalement wordpress). Avec des plugins Analytics et SEO vous permettant de prendre des actions sur vos articles avant leur publication.</p>
								</div>
								<div class="image">
									<a href="https://yoast.com/"><%= image_tag("newsletters/yoast.png", alt: "Yoast", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="http://spinnakr.com/">[Produit] Yoast - The Art & Science of Website Optimization.</a></p>
								</div>
								<div class="description">
									<p>Yoast est une suite d’outils d’optimisation de votre site internet (principalement wordpress). Avec des plugins Analytics et SEO vous permettant de prendre des actions sur vos articles avant leur publication.</p>
								</div>
								<div class="image">
									<a href="http://spinnakr.com/"><%= image_tag("newsletters/spinnakr.png", alt: "Spinnakr", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://www.bonnegueule.fr/rejoindre-l-equipe#traficmanager">[Stage] Paris - Trafic Manager pour Bonne Gueule</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.wizbii.com/jobs/view/7330079/growth-expert-acquisition-marketing">[CDI] Grenoble - Growth Expert / Acquisition Marketing pour Wizbii</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.wizbii.com/jobs/view/7341987/mobile-growth-hacker/">[CDI] Grenoble - Mobile Growth Hacker pour Wizbii</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://fr.chambrealouer.com/prod/file/welchome/upload/AAM.pdf">[Stage] Paris - Chargé(e) Affiliation et Achats Média pour Roomlala</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/data-analyst-blue_search-cdi-paris-hf/">[CDI] Paris - Data Analyst pour Blue Search</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.dexem.com/jobs/chef-produit-mobile.html">[Stage] Paris - Product Marketing Manager pour Connect</a></p>
								</div>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>