<% content_for :title, "Blog"  %>
<% content_for :description, "Articles on Marketing & Growth" %>
<% content_for :ogtitle, "Blog" %>
<% content_for :ogdescription, "Articles on Marketing & Growth" %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :css do %>
  <%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages" %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<%= render "shared/stack_navbar" %>
<div class="main-container">
  <section class="space--sm">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <div class="masonry masonry-blog-list">
            <div class="masonry__container">
              <% @articles.order("date desc").each do |article| %>
                <article class="masonry__item filter-<%= article.topic_name %>" data-masonry-filter="<%= article.topic_name %>">
                  <% if article.image.blank? %>
                  <div class="article__title text-center">
                    <%= link_to articles_show_path(article) do %>
                      <h2><%= article.title %></h2>
                    <% end %>
                    <span><%= article.date && (article.date.strftime("%B #{article.date.day.ordinalize} %Y") + ' in ') %></span>
                    <span>
                      <% article.topics.each do |topic| %>
                        <%= link_to topic.name.capitalize, topic_path(topic.name.downcase), class:"f__up f__no-und categories__link js__category-name"%>
                      <% end %>
                    </span>
                  </div>
                  <% end %>
                  <!--end article title-->
                  <div class="article__body">
                    <%= link_to articles_show_path(article) do %>
                      <%= image_tag article.image.url %>
                    <% end %>
                    <p>
                      <%= article.description %>
                    </p>
                  </div>
                </article>
              <% end %>
            </div>
            <!--end of masonry container-->
            <div class="pagination">
              <div class="col-xs-6">
                <a class="type--fine-print" href="#">&laquo; Older Posts</a>
              </div>
              <div class="col-xs-6 text-right">
                <a class="type--fine-print" href="#">Newer Posts &raquo;</a>
              </div>
            </div>
          </div>
          <!--end masonry-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <%= render "shared/stack_footer" %>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>
<% content_for :js do %>
  <%= javascript_include_tag "jquery-3.1.1.min", "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts"  %>
<% end %>
<script type="text/javascript">
	analytics.page('Blog', {
		path: '/blog',
    url: "https://croissant.io/blog"
	});
</script>
