<head>
	<title>Brian Balfour discute Growth & Marketing - Newsletter 18 Octobre 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Superbe discussion entre Dez Traynor (Intercom) & Brian Balfour (Hubspot) sur le marketing, le paradigme de la growth et les raisons de créer une growth team. À écouter!" />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Brian Balfour discute Growth & Marketing" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://croissant.io/brian-balfour-discute-growth-marketing" />
    <meta property="og:description" content="Superbe discussion entre Dez Traynor (Intercom) & Brian Balfour (Hubspot) sur le marketing, le paradigme de la growth et les raisons de créer une growth team. À écouter!" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/18-octobre.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://croissant.io/brian-balfour-discute-growth-marketing">
	<meta name="twitter:title" content="Brian Balfour discute Growth & Marketing">
	<meta name="twitter:description" content="Superbe discussion entre Dez Traynor (Intercom) & Brian Balfour (Hubspot) sur le marketing, le paradigme de la growth et les raisons de créer une growth team. À écouter!">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/18-octobre.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Brian Balfour discute Growth & Marketing</h1>
					<div class="newsletter-date">
						<p>Newsletter du 18 Octobre 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Superbe discussion entre Dez Traynor (Intercom) & Brian Balfour (Hubspot) sur le marketing, le paradigme de la growth et les raisons de créer une growth team. À écouter!</p>
							</br>
							<p>Une autre petite pépite cette semaine du côté de RJMetrics qui lance "Pipeline" pour envoyer et stocker vos données brutes sur Amazon Redshift. C'est le moment de sortir vos éditeurs SQL :)</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://blog.intercom.io/podcast-brian-balfour-on-creating-meaningful-growth/">
											[Podcast] Brian Balfour On Creating Meaningful Growth
										</a>
									</p>
								</div>
								<div class="description">
									<p>Discussion très intéressante entre Dez Traynor d’Intercom & Brian Balfour d’Hubspot sur les différences entre la growth et le marketing; la création d’une growth team, les dangers des “vanity metrics”; et comment créer les fondations d’une vraie stratégie de croissance.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://firstround.com/review/How-Lumosity-Spiked-Active-Users-10-with-Complexity-Not-Simplicity/">
											[Article] How Lumosity Spiked Active Users 10% with Complexity
										</a>
									</p>
								</div>
								<div class="description">
									<p>“What we found is that sometimes friction can help you acquire customers that really believe in your product, who want to build a long-term relationship with your company” - Sushmita Subramanian, Director of Product Design at Lumosity</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://medium.com/swlh/diligence-at-social-capital-part-3-cohorts-and-revenue-ltv-ab65a07464e1">
										[Article] Part 3: Cohorts and (revenue) LTV
										</a>
									</p>
								</div>
								<div class="description">
									<p>Troisième partie de la série sur les métriques que regardent et analysent les partners de chez Social Capital lorsqu’ils auditent une entreprise avant un investissement avec cette semaine un focus sur les cohortes & la LTV.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.kahuna.com/blog/how-healthy-is-your-mobile-app/">
										[Article] How Healthy Is Your Mobile App?
									</a></p>
								</div>
								<div class="description">
									<p>Analogie intéressante sur la santé d’une application mobile avec comme principaux checkup, le ratio “Engaged:App Installs” aka “The Vitamin” et le ratio “Engaged:Dormant Users” aka “The Aspirin”.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://conversionxl.com/using-cohort-analysis-for-conversion-optimization">
											[Article] Using Cohort Analysis for Conversion Optimization
										</a>
									</p>
								</div>
								<div class="description">
									<p>Lors d’un travail de CRO, la rétention est souvent reléguée au second plan. Une solution pour y prêter plus d’attention est d’intégrer dans votre processus d’optimisation une analyse des cohortes.</p>
								</div>
							</div>
						</div>					
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://rjmetrics.com/product/pipeline">
											[Produit] RJMetrics Pipeline
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										RJMetrics a lancé cette semaine son nouveau produit: Pipeline. Il vous permet notamment d’envoyer les évenements de Segment vers Redshift pour y stoker et accéder vos données brutes.
									</p>
								</div>
								<div class="image">
									<a href="https://rjmetrics.com/product/pipeline"><%= image_tag("newsletters/rjmetrics-pipeline.png", alt: "RJMetrics Pipeline", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://adicted.io">
											[Produit] Adicted - The Largest Facebook Ads Gallery
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Addicted est une base de donnée de publicité Facebook. L’utilité? Faire de la veille et vous inspirer des publicités qui sont publiées pour améliorer les vôtres.
									</p>
								</div>
								<div class="image">
									<a href="http://adicted.io/"><%= image_tag("newsletters/adicted.png", alt: "Adicted", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://docs.google.com/document/d/1ziqCHcdPqaWMfAe0X9KINKkr8cRERNZMCVW5_hdi2lw/edit">[CDI] Paris - "Growth hacker / Web marketer" pour Souscritoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-moneytis-associe-amsterdam-hf/">[Associé] Amsterdam - “Growth manager” pour Moneytis</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.linkedin.com/jobs2/cap/view/76605505">[CDI] Londres - "SEO Manager" pour Iron Web</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.brief.me/recrutement/">[CDI] Paris - "Growth Hacker" pour Brief.me</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>