<head>
	<title>La croissance d’Etsy: Analyse - Newsletter 27 Juin 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Première newsletter de l'été 2015 et vous y trouverez pleins de bonnes choses. Notamment une très belle analyse de la part de Morgan Brown sur la croissance d’Etsy." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="La croissance d’Etsy: Analyse" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/croissance-etsy-analyse" />
    <meta property="og:description" content="Première newsletter de l'été 2015 et vous y trouverez pleins de bonnes choses. Notamment une très belle analyse de la part de Morgan Brown sur la croissance d’Etsy." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, :property => 'og:image', :content => asset_url("newsletters/27-juin.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/croissance-etsy-analyse">
	<meta name="twitter:title" content="La croissance d’Etsy: Analyse">
	<meta name="twitter:description" content="Première newsletter de l'été 2015 et vous y trouverez pleins de bonnes choses. Notamment une très belle analyse de la part de Morgan Brown sur la croissance d’Etsy.">
	<%= tag(:meta, :property => 'twitter:image', :content => asset_url("newsletters/27-juin.png")) %>
</head>

</head>
<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>La croissance d’Etsy - Analyse</h1>
					<div class="newsletter-date">
						<p>Newsletter du 27 Juin 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !<p></br>
							<p>Première newsletter de l'été 2015 et vous y trouverez pleins de bonnes choses. Notamment une très belle analyse de la part de Morgan Brown sur la croissance d’Etsy.</p></br>
							<p>Bonne lecture et bon weekend,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://growthhackers.com/companies/etsys-crafty-growth-to-ipo-and-a-2-billion-valuation/">[Article] The Story of Etsy’s Crafty Growth to IPO and a $2 Billion Valuation</a></p>
								</div>
								<div class="description">
									<p>D’une idée en 2005 à une IPO en 2015, Etsy a crû de façon importante durant ces 10 dernières années et est passée par plusieurs phases de croissance. Phases analysées dans ce très bon article de Morgan Brown.</a></p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.pierrelechelle.com/growth-hacking-process">[Infographie] Growth Hacking Process</a></p>
								</div>
								<div class="description">
									<p>On en a parlé plusieurs fois ici, implémenter dans votre entreprise une culture et un processus de croissance est primordial. Dans cette infographie, Pierre Leschelle résume bien ce processus. Une bonne façon de découvrir le sujet.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://jamiequint.com/how-to-lose-money-on-paid-marketing/">[Article] How to Lose Money on Paid Marketing</a></p>
								</div>
								<div class="description">
									<p>Votre Paid Marketing (SEM, Display, Retargeting, etc) est il ROI positif? Quels sont les canaux d’acquisition qui ont le plus d’impact sur vos conversions? Telles sont les questions auxquelles vous pouvez répondre grâce à une bonne attribution.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://blog.intercom.io/onboarding-users-low-hanging-fruit/">[Article] The Low Hanging Fruit of User Onboarding</a></p>
								</div>
								<div class="description">
									<p>Dans cet article, Des Traynor (co-fondateur d’Intercom) revient sur l’importance de l’onboarding et sur les compréhensions essentielles à avoir pour créer un onboarding de qualité. Cela permettra à vos utilisateurs de comprendre au mieux votre produit.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://backlinko.com/more-traffic">[Article] You + These 2 Steps = More Traffic</a></p>
								</div>
								<div class="description">
									<p>Le Content Marketing est un sujet sur lequel vous pouvez trouver beaucoup d’informations (bonnes ou mauvaises)! Il y a même une communauté qui lui est dédié: <a href="http://inbound.org/">Inbound.org</a>. Dans cet article, Brian Dean nous parle de Content Promotion; le hack du content marketing?</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="http://www.leadsquared.com/">[Produit] LeadSquared - Land More Leads, Sell More Subscriptions</a></p>
								</div>
								<div class="description">
									<p>LeadSquared est un outil de “Marketing Automation” pour les entreprises B2B. Il vous permettra de gérer de façon holistique votre marketing grâce à des features comme la gestion de vos leads, du drip marketing, du lead scoring, etc.</p>
								</div>
								<div class="image">
									<a href="http://www.leadsquared.com/"><%= image_tag("newsletters/leadsquared.png", :alt => "LeadSquared", :width => 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://www.zopim.com/">[Produit] Zopim - Talk to your customers in real-time</a></p>
								</div>
								<div class="description">
									<p>Zopim vous permet d’intégrer simplement un outil de live chat sur votre site web et d’engager vos utilisateurs de façon personnelle afin de les aider dans leur recherche et de les convertir en clients satisfaits.</p>
								</div>
								<div class="image">
									<a href="https://www.zopim.com/"><%= image_tag("newsletters/zopim.png", :alt => "Zopim", :width => 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/marketing-communication-envoituresimone-stage-paris-hf/">[CDI] Paris - Marketing / Communication pour En Voiture Simone</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azn.do/growth-hacker-recruitment">[CDI] Bordeaux - Growth Expert pour Azendoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://angel.co/lima-1/jobs/72144-growth-hacker">[Stage] Paris - Growth Hacker pour Lima</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://3dsoundlabs.com/recrutement/#webmkg">[Stage] Paris - Chef de Projet Marketing pour 3dsoundlabs</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://payplug.workable.com/jobs/75633">[Stage] Paris - Stagiaire Web Marketing pour PayPlug</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://mailjet.workable.com/jobs/63264">[CDI] Paris - Chef de produit Marketing pour Mailjet</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/responsable-marketing-et-communication-lemagsensee-cdi-paris-hf/">[CDI] Paris - Responsable marketing et communication pour Sensee</a></p>
								</div></br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>