<head>
	<title>La Culture de la Data chez Zynga - Newsletter 15 Juillet 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Super article sur la culture de la data chez Zynga et sur la façon dont ils géraient leurs analytics. Un bon rappel de l’importance de l’analytics pour tous types d’entreprises." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="La Culture de la Data chez Zynga" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/culture-data-zynga" />
    <meta property="og:description" content="Super article sur la culture de la data chez Zynga et sur la façon dont ils géraient leurs analytics. Un bon rappel de l’importance de l’analytics pour tous types d’entreprises." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/15-juillet.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/culture-data-zynga">
	<meta name="twitter:title" content="La Culture de la Data chez Zynga">
	<meta name="twitter:description" content="Super article sur la culture de la data chez Zynga et sur la façon dont ils géraient leurs analytics. Un bon rappel de l’importance de l’analytics pour tous types d’entreprises.">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/15-juillet.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>La Culture de la Data chez Zynga</h1>
					<div class="newsletter-date">
						<p>Newsletter du 15 Juillet 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !<p></br>
							<p>Noah Kagan (Facebook, Mint, SumoMe) organise ce soir entre 19h-20h un webinar en anglais avec Brian Balfour (VP Growth chez Hubspot) sur la croissance.</p><br>
							<p>Un webinar à ne pas manquer !</p><br>
							<p><a href="http://sumome.com/stories/growth-machine-workshop">http://sumome.com/stories/growth-machine-workshop</a></p><br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://blog.amplitude.com/2015/06/24/zynga-analytics-at-its-peak/">[Article] Zynga Analytics at its Peak</a></p>
								</div>
								<div class="description">
									<p>Super article sur la culture de la data chez Zynga et sur la façon dont ils géraient leurs analytics. Un bon rappel de l’importance de l’analytics pour tous types d’entreprises.</a></p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://medium.com/android-news/how-to-start-a-growth-team-ff70cd29c0f2">[Article] How to Start a Growth Team</a></p>
								</div>
								<div class="description">
									<p>Créateur de la “growth team” de chez Yahoo. L’auteur revient dans cet article sur les apprentissages effectués durant la création de l’équipe et les questions auxquelles réfléchir avant de créer la vôtre.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.growthhacker.tv/jesse-avshalomov">[Vidéo] Interview - Director of Growth, Teespring</a></p>
								</div>
								<div class="description">
									<p>Retours d’expériences de Jesse Avshalomov, Director of Growth chez Teespring, sur la croissance de l’entreprise, les premiers jours et la mise en place de leur growth team.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.dtelepathy.com/blog/design/ux-flows-onboarding">[Article] How to Turn Onboarding into an Amazing First Date</a></p>
								</div>
								<div class="description">
									<p>Un bon article qui analyse les différents “types” d’onboarding que vous pouvez utiliser pour votre app web ou mobile. Vous y trouverez aussi quelques conseils sur la façon de réfléchir à la problématique de première expérience.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://segment.com/blog/growthhackers-community-metrics/">[Article] GrowthHackers on Metrics that Matter to Communities</a></p>
								</div>
								<div class="description">
									<p>Créer une communauté adjacente à votre marque peut être un véritable levier de croissance. Dans cet article, Morgan Brown revient sur les métriques importantes à suivre pour faire croître une communauté. Très intéressant !</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://www.paddle.com/growth">[Produit] GrowthKit - Tools to grow your app.</a></p>
								</div>
								<div class="description">
									<p>GrowthKit est une suite d’outils de Paddle vous permettant de faire croître votre application mobile (email, in-app feedback, rating, analytics, etc).</p>
								</div>
								<div class="image">
									<a href="https://www.paddle.com/growth"><%= image_tag("newsletters/growthkit.png", alt: "GrowthKit", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://www.statbot.io/">[Produit] Statbot - Analytics for Intercom</a></p>
								</div>
								<div class="description">
									<p>Statbot vous permet d’extraire simplement vos données d’Intercom et de créer des rapports précis sur de nombreux aspects de votre business.</p>
								</div>
								<div class="image">
									<a href="https://www.statbot.io/"><%= image_tag("newsletters/statbot.png", alt: "Statbot", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/consultant-webanalytics-conversion-uptilab-stage-paris-hf/">[Stage] Paris - Consultant Webanalytics & Conversion pour Uptilab</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/marketing-communication-envoituresimone-stage-paris-hf/">[CDI] Paris - Marketing / Communication pour En Voiture Simone</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azn.do/growth-hacker-recruitment">[CDI] Bordeaux - Growth Expert pour Azendoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://angel.co/lima-1/jobs/72144-growth-hacker">[Stage] Paris - Growth Hacker pour Lima</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://3dsoundlabs.com/recrutement/#webmkg">[Stage] Paris - Chef de Projet Marketing pour 3dsoundlabs</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://payplug.workable.com/jobs/75633">[Stage] Paris - Stagiaire Web Marketing pour PayPlug</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>