<head>
	<title>Dette Analytics - Newsletter 23 Août 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Création d'une nouvelle section dans votre newsletter préférée. Nous allons dès à présent séparer les ressources portant principalement sur le marketing et ceux portant sur la growth." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Dette Analytics" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/dette-analytics" />
    <meta property="og:description" content="Création d'une nouvelle section dans votre newsletter préférée. Nous allons dès à présent séparer les ressources portant principalement sur le marketing et ceux portant sur la growth." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(meta, property: 'og:image', content: asset_url("newsletters/23-aout.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/dette-analytics">
	<meta name="twitter:title" content="Dette Analytics">
	<meta name="twitter:description" content="Création d'une nouvelle section dans votre newsletter préférée. Nous allons dès à présent séparer les ressources portant principalement sur le marketing et ceux portant sur la growth.">
	<%= tag(meta, property: 'twitter:image', content: asset_url("newsletters/23-aout.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Dette Analytics</h1>
					<div class="newsletter-date">
						<p>Newsletter du 23 Août 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>La reprise approche à grand pas pour certains, mais pour beaucoup cela est déjà le cas. Quelques articles pour vous aider cette semaine !</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://jamiequint.com/metrics-debt/">
											[Article] Metrics Debt
										</a>
									</p>
								</div>
								<div class="description">
									<p>De la même manière qu’un sous-investissement technique peut entraîner des effets négatifs sur votre code dans le temps, un sous-investissement dans les analytics peut conduire à des effets durables négatifs sur la compréhension et croissance de votre produit.</p>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://wistia.com/blog/define-your-vision">
											[Article] Define Your Vision to Differentiate Your Product
										</a>
									</p>
								</div>
								<div class="description">
									<p>aka "When we buy software today, we're not just buying into the current benefits, features, and price. Instead, we're making a bet on the product's future."</p>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://techcrunch.com/2015/08/12/youre-still-modeling-growth-wrong/">
										[Article] You’re Still Modeling Growth Incorrectly
										</a>
									</p>
								</div>
								<div class="description">
									<p>Très bon article de Noah Kagan sur l’approche à suivre lorsque vous essayez de modéliser la croissance de votre entreprise (Plan marketing trimestriel, fundraising, etc).</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://cars.datastories.com/neville">
										[Article] A perfect post recipe to get shares
									</a></p>
								</div>
								<div class="description">
									<p>
										Article intéressant sur l’approche orientée data-science qui a été prise pour analyser un blog et sur les découvertes effectuées à partir d’un data-set pourtant limité (42 articles).
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://nerds.airbnb.com/scaling-data-science">
										[Article] Airbnb, Data Science Belongs Everywhere
										</a>
									</p>
								</div>
								<div class="description">
									<p>Retour d’expérience du premier data-scientist chez AirBnB (employé #7). Il explique comment ils ont réussi à garder une culture de la data pendant leur croissance et pourquoi cette culture est si importante pour toutes entreprises.</p>
								</div>
							</div>
						</div>					
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://taplytics.com">
											[Produit] Taplytics - Mobile optimization made simple
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Taplytics vous permet d’A/B tester votre application mobile (IOS & Android) simplement, d’envoyer des push notifications à vos utilisateurs et de tracker leurs actions.
									</p>
								</div>
								<div class="image">
									<a href="https://taplytics.com/"><%= image_tag("newsletters/taplytics.png", alt: "Taplytics", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://developers.google.com/webmaster-tools/v3/searchanalytics">
											[Produit] Google Search Analytics API
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Google a lancé il y a quelques semaines une nouvelle API qui vous permet d’extraire les données de recherches de votre Webmaster Tools.
									</p>
								</div>
								<div class="image">
									<a href="https://developers.google.com/webmaster-tools/v3/searchanalytics"><%= image_tag("newsletters/search-analytics-api.png", alt: "Google Search Analytics API", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://www.festicket.com/jobs/#new-ecrm-manager">[CDI] Londres - “Marketing - Email & Engagement" pour Festicket</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-flayrfr-cdi-paris-hf/">[CDI] Paris - Growth Manager pour Flayr</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-business-developer-aircall-stage-paris-hf/">[Stage] Growth & Business Developer pour Aircall</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.podbox.com/blog/podbox-recruits-a-web-developer-marketer-growth-hacker-rennes">[CDI] Rennes - Growth Hacker pour PodBox</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/webmarketing-community-manager-somhomefrance-stage-paris-hf/">[Stage] Paris - Web Marketing pour SomHome</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>