<head>
	<title>L'expérience développeur (DX) par Mailjet - Newsletter 13 Juin 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="Cette semaine, nous recevons Shubham Sharma de Mailjet qui va nous parler des spécificités du Marketing à destination des développeurs et en particulier de l’expérience développeur (DX).">
    <meta name="author" content="The Growth Bakery">

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="robots" content="index,follow">

    <meta property="og:title" content="L'expérience développeur (DX) par Mailjet" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/experience-developpeur-mailjet" />
    <meta property="og:description" content="Cette semaine, nous recevons Shubham Sharma de Mailjet qui va nous parler des spécificités du Marketing à destination des développeurs et en particulier de l’expérience développeur (DX)." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/s.shubham" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, :property => 'og:image', :content => asset_url("newsletters/13-juin.png")) %>
</head>

</head>
<div class="main-wrapper">
<body>
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>L'expérience développeur (DX) par Mailjet</h1>
					<div class="newsletter-date">
						<p>Newsletter du 13 Juin 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Cette semaine, nous recevons <a href="https://twitter.com/shub_s">Shubham Sharma</a> de <a href="https://fr.mailjet.com">Mailjet</a> qui va nous parler des spécificités du Marketing à destination des développeurs et en particulier de l’expérience développeur (DX).</p>
							</br>

							<p>Bonne lecture et bon weekend,</br>L'équipe TGB.<p></br>
						</div>
						<hr>
						<div class="article">
							<p>Hello tout le monde, ici Shubham.<p></br>
							<p>Je vais vous parler d’un sujet sur lequel je travaille depuis bientôt 2 ans: L’Expérience Développeur (DX).<p></br>
							<p>On parle énormément d’expérience utilisateur (UX) lors de la création d’un produit mobile ou web. Mais qu'en est-il quand le produit est destiné à être utilisé par des développeurs?</p></br>
							<p>Ingénieur de formation et développeur freelance pendant 7 ans, je me suis mis très récemment au marketing à destination des développeurs et j’occupe le poste de “Developer Evangelist” pour Mailjet (une API d’emailing). Mon job est de faire adopter notre API par le plus grand nombre de développeurs.</p></br>
							<p>La première moitié de mon activité consiste à rencontrer des développeurs à travers le monde dans le but de passer du temps avec eux, et d’animer des meetups, des conférences. C’est la partie la plus visible du métier de “Developer Evangelist”, elle est essentielle pour offrir plus de visibilité à l’API. L’autre moitié, moins visible, consiste à proposer aux développeurs et clients de l’API Mailjet la meilleure expérience possible.</p></br>
							<p>Cela passe par la mise en place et le maintien constant de notre plateforme développeur (documentation). Une bonne plateforme développeur va pousser à l’adoption de l’API par sa facilité d’usage.</p></br>
							<p>Mon rôle consiste à alimenter la plateforme en contenus; contenus qui sera référencés sur Google et accessible à tous (édition d’exemples de codes, ajout de nouveaux SDK, de nouvelles librairies, mises à jour suite aux retours développeurs, etc). Ces contenus permettront d’accélérer le développement des produits et simplifie l'intégration de Mailjet. Rien ne sert de réinventer la roue si un développeur peut utiliser une librairie, un bout de code ou encore mieux, une application d’exemple déjà prête à être utilisée.</br>
							<p>Une équipe de support efficace, capable de répondre aux questions techniques sur l’API est également nécessaire ainsi qu’une présence sur des plateformes telles que Github ou Stackoverflow. En effet, le premier réflexe lorsqu’un développeur rencontre une erreur est de copier cette dernière dans un moteur de recherche et espérer une réponse. Nous avons donc tout intérêt à faire vivre ces plateformes en répondant aux différentes questions tech que les développeurs peuvent se poser.</p></br>
							<p>Le développement est une discipline déjà assez compliquée pour ne pas ajouter de complexité externe lors de l’intégration d’une API. Tout l’intérêt est donc de facilité la vie du développeur en lui fournissant la meilleure experience possible !</p></br>
							<p>Pour poursuivre sur le sujet, sachez que j’organise avec Mailjet le meetup Paris API. La prochaine édition aura lieu jeudi (18 juin), chez Criteo. Pendant cette rencontre, Mozilla et Algolia partageront avec nous leurs retours d’expériences. N’hésitez pas à venir pour en apprendre plus sur le sujet.</p></br>
							<p>À très bientôt,</br>Shubham</p>
							<div class="image-article">
								<a href="http://fr.mailjet.com"><%= image_tag("newsletters/mailjet-logo.png", :alt => "Mailjet", :width => 300) %></a>
							</div>

						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.mailjet.com/blog/like-developer-evangelist/">[Article] What It’s Like To Be A Developer Evangelist</a></p>
								</div>
								<div class="description">
									<p>L’importance des “developer evangelists” n’est plus à prouver. En revanche, si le métier vous est inconnu, difficile de savoir quelles sont leurs tâches quotidiennes. Heureusement, Arnaud Breton de Mailjet nous aide à y voir plus clair avec cette infographie.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://pantheon.io/blog/marketing-developers-how-build-community-advocates">[Article] Marketing to Developers: How to Build a Community of Advocates</a></p>
								</div>
								<div class="description">
									<p>Un bon rappel des différences entre le marketing à destination des développeurs et un marketing B2B “classique”. Notamment l’importance de créer une communauté active et fervente autour du produit.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.heavybit.com/library/video/2013-10-22-danielle-morrill">[Vidéo] Lessons from Twilio: Content Marketing to Developers</a></p>
								</div>
								<div class="description">
									<p>Danielle Morrill, aujourd’hui CEO de Mattermark, était la première employée Marketing chez Twilio et nous explique dans ce talk comment elle a développé toute la partie contenu. De superbes insights pour développer votre propre stratégie.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://blog.heavybit.com/blog/2015/1/27/nireyal-hooked">[Article] Building Habit Forming Developer Products</a></p>
								</div>
								<div class="description">
									<p>Très bon article de Casey Winters (Growth à Pinterest) sur les dangers et les bénéfices de l’A/B testing dans une stratégie de croissance.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.box.com/blog/6-tips-developer-marketing/">[Article] 6 Tips for Developer Marketing</a></p>
								</div>
								<div class="description">
									<p>SIx conseils sur les pratiques à adopter lorsque vous marketez un produit à destination des développeurs. On notera le fort accent mis sur la création de communautés et sur l’importance des relations avec ces dernières.</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://fr.mailjet.com">[Produit] Mailjet - La solution pour tous vos emails</a></p>
								</div>
								<div class="description">
									<p>Mailjet est un service d'envoi d'emails tout-en-un vous offrant une délivrabilité maximale des emails transactionnels comme marketing et un suivi statistique optimal. C’est l'outil emailing des équipes marketing et des développeurs.</p>
								</div>
								<div class="image">
									<a href="https://yoast.com/"><%= image_tag("newsletters/mailjet.png", :alt => "Mailjet", :width => 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://github.com/tripit/slate">[Produit] Slate - Beautiful static documentation for your API</a></p>
								</div>
								<div class="description">
									<p>Slate vous permet de créer simplement votre documentation d’API. En utilisant le template de Slate, vous gagnez du temps dans la création et la maintenance de votre plateforme développeur.</p>
								</div>
								<div class="image">
									<a href="https://github.com/tripit/slate"><%= image_tag("newsletters/slate.png", :alt => "Slate", :width => 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/responsable-marketing-et-communication-lemagsensee-cdi-paris-hf/">[CDI] Paris - Responsable marketing et communication pour Sensee</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.bonnegueule.fr/rejoindre-l-equipe#traficmanager">[Stage] Paris - Trafic Manager pour Bonne Gueule</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.dexem.com/jobs/chef-produit-mobile.html">[Stage] Paris - Product Marketing Manager pour Connect</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.wizbii.com/jobs/view/7330079/growth-expert-acquisition-marketing">[CDI] Grenoble - Growth Expert / Acquisition Marketing pour Wizbii</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://www.wizbii.com/jobs/view/7341987/mobile-growth-hacker/">[CDI] Grenoble - Mobile Growth Hacker pour Wizbii</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://fr.chambrealouer.com/prod/file/welchome/upload/AAM.pdf">[Stage] Paris - Chargé(e) Affiliation et Achats Média pour Roomlala</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/data-analyst-blue_search-cdi-paris-hf/">[CDI] Paris - Data Analyst pour Blue Search</a></p>
								</div>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</body>
</div>