<head>
	<title>De 0 à 1.2M$ - Newsletter 2 Août 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Encore quelques bons petits articles cette semaine :)" />
    <meta name="author" content="Croissant" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="De 0 à 1.2M$" />
    <meta property="og:site_name" content="Croissant" />
    <meta property="og:url" content="http://croissant.io/from-zero-to-one-point-two" />
    <meta property="og:description" content="Encore quelques bons petits articles cette semaine :)" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/02-aout.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://croissant.io/from-zero-to-one-point-two">
	<meta name="twitter:title" content="De 0 à 1.2M$">
	<meta name="twitter:description" content="Encore quelques bons petits articles cette semaine :)">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/02-aout.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>De 0 à 1.2M$</h1>
					<div class="newsletter-date">
						<p>Newsletter du 2 Août 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Encore quelques bons petits articles cette semaine :)</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://adespresso.com/academy/blog/from-0-to-1-2m-runrate-and-profitability-in-just-5-quarters-9-lessons-learned-in-creating-an-impossible-company/">
											[Article] From 0 to $1.2M RunRate in just 5 quarters
										</a>
									</p>
								</div>
								<div class="description">
									<p>“L’impossible entreprise” serait un bon nom pour résumé cet article. Un très bon retour d’expérience de Armando Biondi (Co-founder d’AdEspresso) sur son aventure entrepreneuriale.</p>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://nextviewventures.com/blog/consumer-startup-marketing/">
										[Article] What Makes a Great Consumer Startup Marketer?
										</a>
									</p>
								</div>
								<div class="description">
									<p>Que faut-il pour être un excellent marketeur B2C? C’est la question que s’est posée Rob Go (Co-founder & Partner at NextView Ventures). Dans cet article, il partage ses découvertes sur les hard & soft skills qu’il faut avoir ou acquérir.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.coelevate.com/essays/growth-is-never-done">[Article] Growth Is Never Done</a></p>
								</div>
								<div class="description">
									<p>
										Encore un très bon article de Brian Balfour sur l'éternel travail d'optimisation de la croissance (growth) nécessaire pour faire croître une entreprise. Il donne deux raisons : votre produit évolue et vos clients également. Une itération continue est donc nécessaire.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.natedesmond.com/clash-of-clans/">
										[Article] The Secrets Behind a $5M+ Per Day Mobile Game
									</a></p>
								</div>
								<div class="description">
									<p>
										Analyse très intéressante de Nate Desmond sur les leviers de croissance utilisés par le jeu mobile “Clash Of Clans”. Un exemple pour beaucoup dans l’industrie du mobile gaming.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://wyattjenkinsproduct.tumblr.com/post/65031949327/10-ab-testing-lessons-i-learned-the-hard-way">
										[Article] 10 A/B Testing Lessons I Learned The Hard Way
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Dans cet article, le VP Product d’Optimizely partage les 10 apprentissages effectués durant sa carrière en tant que Product Manager et ayant lancé des centaines d'A/B tests.
									</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://quintgrowth.com/growthmodel.html">[Produit] Retention/Virality Tradeoff Visualizer</a>
									</p>
								</div>
								<div class="description">
									<p>
										Cet outil vous permet de créer simplement vos courbes de rétention et un arbre de viralité à partir des données extraites (CSV) de votre outil analytics préféré.
									</p>
								</div>
								<div class="image">
									<a href="http://quintgrowth.com/growthmodel.html"><%= image_tag("newsletters/retention-virality.png", alt: "Retention/Virality Tradeoff Visualizer", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://www.getrooster.com/">
											[Produit] Rooster - Convert your abandoning visitors
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Rooster vous permet de convertir les visiteurs abandonnants votre site en leads grâce à leur technologie d’ “exit-intent”. L’outil a récemment été racheté par Unbounce.
									</p>
								</div>
								<div class="image">
									<a href="http://www.getrooster.com/"><%= image_tag("newsletters/rooster.png", alt: "Rooster", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://www.podbox.com/blog/podbox-recruits-a-web-developer-marketer-growth-hacker-rennes">[CDI] Rennes - Growth Hacker pour PodBox</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/responsable-marketing-et-communication-wingly-stage-paris-hf/">[Stage] Paris - Responsable Marketing et Communication pour Wingly</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/content-writer-kameleoonrocks-cdi-paris-hf/">[CDI] Paris - Content Writer pour Kameleoon</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/webmarketing-community-manager-somhomefrance-stage-paris-hf/">[Stage] Paris - Web Marketing pour SomHome</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>