<% content_for :title, "Croissant - On-Demand Growth Team for SaaS"  %>
<% content_for :description, "Croissant helps SaaS companies build their Growth Stack by implementing tools such as Hull, Segment, Amplitude, Hotjar, Optimizely & many more." %>
<% content_for :ogtitle, "Croissant - On-Demand Growth Team for SaaS" %>
<% content_for :ogdescription, "Croissant helps SaaS companies build their Growth Stack by implementing tools such as Hull, Segment, Amplitude, Hotjar, Optimizely & many more." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('ogimage-croissant.jpg') %>
<%= content_for :css do %>
  <%= stylesheet_link_tag  "bootstrap", "models/articles",  "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages"  %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<%= render "shared/draft_navbar" %>
<div class="main-container">
  <section class="hero-draft _has-bg background text-center">
    <%= image_tag("index/bg-big.png", class: "background") %>
    <%= image_tag("index/particles-left-draft.png", class: "particles_left hidden-xs") %>
    <%= image_tag("index/particles-right-draft.png", class: "particles_right hidden-xs") %>
    <div class="container hero-draft__container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-3">
          <h1 class="title-home hero-draft__title">On-Demand Growth Team for startups</h1>
          <p class="hero-draft__subtitle">
            We are a team of engineers, designers and marketers that you can hire to <span class="line-break" />
            grow your revenue for a monthly retainer. Pricing starting at 7000$.
          </p>
          <form id="ck_subscribe_form" class="ck_subscribe_form js--change-point" action="https://forms.convertkit.com/landing_pages/286668/subscribe" data-remote="true">
            <div class="form-group ck_control_group ck_email_field_group hero-draft__form">
              <label class="hidden ck_label" for="ck_emailField" >Email Address</label>
              <input placeholder="Enter your business email" name="email" class="form-control hero-draft__email-field ck_email_address js--email-input" id="ck_emailField" type="email" required="" />
              <input id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields btn hero-draft__btn _color_blue type--uppercase" type="submit" name="submit" value="Request call" data-drip-attribute="sign-up-button" />
            </div>
            <p class="hero-draft__input-subtitle">20min call to ask all your questions about Croissant</p>
            <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
              <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
            </div>
            <script async id="_ck_286668" src="https://forms.convertkit.com/286668?v=6"></script>
          </form>
          <p class="form__success">Thanks! Will get in touch with you asap to schedule the call.</p>
        </div>
      </div>
      <div class="hero-draft__quote">
        <div class="hero-draft__quote-img">
          <%= image_tag("index/cm-logo.png", class: "hero-draft__cm-logo") %>
        </div>
        <div class="hero-draft__quote-content">
          <p class="hero-draft__quote-content-quote">“Croissant helped us understand and improve our overall growth <span class="line-break" />
          strategy. It’s great to work with those guys !”</p>
          <p class="hero-draft__quote-content-author">- Jeremy Delrue, Country Manager, CM France</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section--pad_first">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title">Grow revenue, not just leads 🚀</h1>
          <p class="hero-draft__main-info mar-up hero-draft__main-info--align_center mar-bottom-less">
            For a monthly retainer, we give you access to your growth focused engineers, <span class="line-break" />
            designers and marketers team.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="hero-draft__info-box-container">
          <div class="js--option">
            <span class="hero-draft__symbol-left js--symbol">&minus;</span>
            <p class="hero-draft__main-info mar-up hero-draft__main-info--inline mar-bottom-less">
              I’m a startup CEO doing marketing myself
            </p>
          </div>
          <div class="hero-draft__info-box active">
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller mar-bottom-less">
              You are an early stage startup and everyone is doing a bit of everything but as a CEO 
              you are responsible for growth. You have been hacking your way into learning about 
              acquisition, conversion, engagement and analytics but you are now hitting a plateau. 
              You don’t have the time to do a good job at it without sacrificing other parts of your 
              business. But you are not sure if you need to hire someone full-time just yet nor what 
              this person should look like.
            </p>
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller">
              <b>How Croissant can help?</b> We will run your marketing / growth for you and help you 
              hire the right person for the job.
            </p>
          </div>
        </div>

        <div class="hero-draft__info-box-container">
          <div class="js--option">
            <span class="hero-draft__symbol-left js--symbol">+</span>
            <p class="hero-draft__main-info mar-up hero-draft__main-info--inline mar-less">
              I’m a startup CEO with a junior marketing lead
            </p>
          </div>
          <div class="hero-draft__info-box">
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller mar-bottom-less">
              You are a CEO at a growing startup and have hired a junior marketing lead a couple 
              months ago. She is doing ok but you can feel that something is missing and she is 
              overwhelmed by everything that has to be done. You would like her to be more 
              be more proactive in her role as a leader of your marketing. 
            </p>
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller">
              <b>How Croissant can help?</b> We will guide you on how to run marketing properly at a fast growing startup and provide 
              resources to do just that (channel specialists, developers, designers.)
            </p>
          </div>
        </div>

        <div class="hero-draft__info-box-container">
          <div class="js--option">
            <span class="hero-draft__symbol-left js--symbol">+</span>
            <p class="hero-draft__main-info mar-up hero-draft__main-info--inline mar-less">
              I’m a startup CMO looking for technical help
            </p>
          </div>
          <div class="hero-draft__info-box">
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller mar-bottom-less">
              You are a CMO at a growing startup and have built your marketing foundation. 
              You understand who your customers are and how you can acquire them but you are now lacking resources 
              to do everything you would like to achieve your objectives. Especially when it comes to technical 
              things like SEO / CRO or Analytics.
            </p>
            <p class="hero-draft__main-info hero-draft__main-info--font_smaller">
              <b>How Croissant can help?</b> We will provide you with technical resources (channel specialists, developers, designers) 
              and help you do things you can't today.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <section class="section--pad_normal">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title">Growth-as-a-service</h1>
        </div>
      </div>
      <div class="hero-draft__boxes row">
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_blue">User Acquisition</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We use SEO, content marketing, paid advertising and cold emailing to acquire users for your product.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_lilac">Conversion</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We use our best-practices to optimize you product pages and landing pages to improve your conversion rate.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_green">Engagement</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We improve your product activation and retention rate through onboarding and product optimization.
          </p>
        </div>
      </div>

      <div class="hero-draft__boxes row">
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_orange">Revenue</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We streamline your sales process with automation best-practices and optimize your pricing.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_red">Virality</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We improve your product virality, your referrals process and your advocacy process (NPS + case studies).
          </p>
        </div>
        <div class="col-12 col-md-4">
          <div class="hero-draft__box-title hero-draft__box-title--theme_gray">Other</div>
          <p class="hero-draft__main-info hero-draft__main-info--width_fixed hero-draft__main-info--align_center">
            We implement your marketing, growth and analytics tools.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section--pad_aligned section--bg_blue">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title hero-draft__main-title--color_white">How does it work ?</h1>
        </div>
      </div>
      <div class="hero-draft__info-container row">
        <div class="hidden-xs col-md-1">
          <span class="hero-draft__info-box-number">1</span>
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="hero-draft__info-box-content">
            <p class="hero-draft__info-box-title">Onboarding</p>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left">a</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                You <a href="/">request a call</a> with us
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">b</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We schedule a call and go over your situation and see how we could be <span class="line-break" />
                helpful to you.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left">c</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                If you like what you hear and we are a good fit for you, we go forward.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-draft__info-container row">
        <div class="hidden-xs col-md-1">
          <span class="hero-draft__info-box-number">2</span>
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="hero-draft__info-box-content">
            <p class="hero-draft__info-box-title">Free Audit</p>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left">a</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                Before working together, we will make sure we can provide value to you.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">b</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will need access to your analytics tools, paid advertising tools, SEO tools <span class="line-break" />
                and we will do interviews with your team members.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">c</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will audit your marketing / growth strategy and results. it will take 5 <span class="line-break" />
                days after we got everything we need from you.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">d</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will schedule an appointment to go over our findings and what we <span class="line-break" />
                think should be done.
              </p>
            </div>

          </div>
        </div>
      </div>

      <div class="hero-draft__info-container row">
        <div class="hidden-xs col-md-1">
          <span class="hero-draft__info-box-number">3</span>
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="hero-draft__info-box-content">
            <p class="hero-draft__info-box-title">Contract</p>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">a</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will define a high-growth opportunity area to focus on during the <span class="line-break" />
                one month paid trial period (Example - Facebook Ads, CRO, SEO, etc).
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">b</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We send you a proposal for the 1-month paid trial with a followup 3-6 <span class="line-break" />
                months montly retainer to be accepted at the end of the first month.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left">c</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                You accept it and we sign a contract 🔥
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-draft__info-container row">
        <div class="hidden-xs col-md-1">
          <span class="hero-draft__info-box-number">4</span>
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="hero-draft__info-box-content">
            <p class="hero-draft__info-box-title">One Month</p>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">a</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will go even deeper in our audit and create a growth roadmap for <span class="line-break" />
                the next 6 months.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left">b</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will setup your analytics, SEO, CRO tools for you.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">c</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will work on the high-growth opportunity area. This will help us start <span class="line-break" />
                working together in an impactful way while we learn from each other.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-draft__info-container row">
        <div class="hidden-xs col-md-1">
          <span class="hero-draft__info-box-number">5</span>
        </div>
        <div class="col-xs-12 col-md-11">
          <div class="hero-draft__info-box-content">
            <p class="hero-draft__info-box-title">Monthly retainer</p>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">a</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will expand our scope to other high-growth opprtunity areas and <span class="line-break" />
                update your growth roadmap.
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special">b</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                A week before the end of each month, we will meet or call and define next <span class="line-break" />
                month growth plan. 
              </p>
            </div>

            <div class="hero-draft__info-box-content-line">
              <span class="hero-draft__letter-left hero-draft__letter-left--special-2">c</span>
              <p class="hero-draft__main-info hero-draft__main-info--inline mar-bottom-less">
                We will then work in one or two weeks sprint to maximize speed that <span class="line-break" />
                will each start with a growth meeting. PS - You won’t be able to add time <span class="line-break" />
                consuming new things to these sprints.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section--pad_aligned">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title">Tools we use</h1>
          <ul class="hero-draft__tools-list">
            <li data-id="1" class="hero-draft__tools-item item-1 js--select _active">Acquisition</li>
            <li data-id="2" class="hero-draft__tools-item item-2 js--select">Conversion</li>
            <li data-id="3" class="hero-draft__tools-item item-3 js--select">Engagement</li>
            <li data-id="4" class="hero-draft__tools-item item-4 js--select">Revenue</li>
            <li data-id="5" class="hero-draft__tools-item item-5 js--select">Virality</li>
            <li data-id="6" class="hero-draft__tools-item item-6 js--select">Other</li> 
          </ul>
          <div class="hero-draft__select-line">
            <div class="hero-draft__selected-line js--line-to-select _1"></div>
          </div>
          <ul class="hero-draft__tools-section js--tools js--tools-1 _active">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/persistlQ.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/hotjar.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/semrush.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/predictleads.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/zapier.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/wp.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/lookback.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
          </ul>
          <ul class="hero-draft__tools-section js--tools js--tools-2">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/customer.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/fullstory.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/amplitude.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
          </ul>
          <ul class="hero-draft__tools-section js--tools js--tools-3">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/customer.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/fullstory.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/amplitude.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
          </ul>
          <ul class="hero-draft__tools-section js--tools js--tools-4">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/customer.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/fullstory.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/amplitude.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
          </ul>
          <ul class="hero-draft__tools-section js--tools js--tools-5">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/customer.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/fullstory.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/amplitude.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
          </ul>
          <ul class="hero-draft__tools-section js--tools js--tools-6">
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/customer.png", class: "hero-draft__tool-img"), "https://customer.io/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/fullstory.png", class: "hero-draft__tool-img"), "https://www.fullstory.com/" %>
            </li>
            <li class="hero-draft__tool-picked">
              <%= link_to image_tag("tools/amplitude.png", class: "hero-draft__tool-img"), "https://amplitude.com/" %>
            </li>
          </ul>
          <div>
        </div>
      </div>
    </div>
  </section>

  <section class="section--pad_aligned section--bg_recipes">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title hero-draft__main-title--color_white recipes-spacing">Growth Recipes</h1>
          <p class="hero-draft__main-info hero-draft__main-info--align_center hero-draft__main-info--font_bigger hero-draft__main-info--color_white">
            Templated growth strategies (coming soon)
          </p>
          <%= image_tag("index/illustrations/ill-1.png", class: "hero-draft__illustration") %>
        </div>
      </div>
    </div>
  </section>


  <section class="section--pad_aligned">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title hero-draft__main-title--font_smaller recipes-spacing">
            Companies our team members worked for and their investors
          </h1>
          <div class="hero-draft__companies-row">
            <%= link_to image_tag("index/logos/1.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/2.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/3.png", class: "hero-draft__company-logo"), "#"  %>
          </div>
          <div class="hero-draft__companies-row hero-draft__companies-row--second">
            <%= link_to image_tag("index/logos/4.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/5.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/6.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/7.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/8.png", class: "hero-draft__company-logo"), "#"  %>
            <%= link_to image_tag("index/logos/9.png", class: "hero-draft__company-logo"), "#"  %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section--pad_aligned">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hero-draft__main-title hero-draft__main-title--font_smaller recipes-spacing">
            Team
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <p class="hero-draft__member-name">Maxime Salomon</p>
          <p class="hero-draft__member-position">Founder & CEO</p>
          <%= image_tag("index/team/maxime.png", class: "hero-draft__member-img") %>
        </div>
        <div class="col-xs-12 col-md-4">
          <p class="hero-draft__member-name">Valentin Damien</p>
          <p class="hero-draft__member-position">Growth Product Designer</p>
          <%= image_tag("index/team/valentin.png", class: "hero-draft__member-img") %>
        </div>
        <div class="col-xs-12 col-md-4">
          <p class="hero-draft__member-name">Nalto</p>
          <p class="hero-draft__member-position">Good Boy</p>
          <%= image_tag("index/team/nalto.png", class: "hero-draft__member-img") %>
        </div>  
      </div>
      <div class="row align-center">
        <span class="hero-draft__sign">and freelancers from all around the world 🌍</span>
      </div>
    </div>
  </section>


  <section class="hero-draft__upper-footer">
    <%= image_tag("index/rectangle-bg.png", class: "hero-draft__upper-footer-bg") %>
    <div class="hero-draft__upper-footer-info container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <p class="hero-draft__main-note _white">Let’s grow your revenue together!</p>
        </div>
        <div class="col-sm-12 col-md-7">
          <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://forms.convertkit.com/landing_pages/286668/subscribe" data-remote="true">
            <div class="form-group ck_control_group ck_email_field_group hero-draft__upper-footer-form">
              <label class="hidden ck_label" for="ck_emailField" >Email Address</label>
              <input 
              style="border: 1px solid #fff !important;"
              placeholder="Enter your business email" name="email" class="form-control hero-draft__upper-footer-email-field ck_email_address" id="ck_emailField" type="email" required="" />
              <input id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields btn hero-draft__upper-footer-btn _color_blue type--uppercase" type="submit" name="submit" value="Request call" data-drip-attribute="sign-up-button" />
            </div>
            <p class="hero-draft__upper-footer-input-subtitle">20min call to ask all your questions about Croissant</p>
            <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
              <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
            </div>
            <script async id="_ck_286668" src="https://forms.convertkit.com/286668?v=6"></script>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="hero-draft-lower">
    <div class="container hero-draft-lower__container">
      <p class="hero-draft-lower__text _color_blue">© 2018 Croissant - Made with ❤️</p>
      </div>
    </section>
  </div>
  <% content_for :js do %>
    <%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "script"%>
    <script type="text/javascript">
      fixHeader()
      setInputFocus();
      showMessage();
      selectOption()
      changeBtn()
      toggleBoxes()
    </script>
  <% end %>