<%= content_for :css do %>
  <%= stylesheet_link_tag  "models/index"  %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<% end %>

<div class="main">
  <section id="hero" class="main_hero">
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "index-new/croissant-logo.png", class: "d-inline-block align-top" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="cr-navbar__link nav-link" href="https://trello.com/b/RlRatyrn/croissant-growth-recipes">Recipes</a>
              </li>
              <li class="nav-item dropdown" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a class="cr-navbar__link nav-link dropdown-toggle" href="#">
                Resources
                </a>
                <div class="cr-navbar__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "Newsletter", newsletter_path, class: 'dropdown-item'  %>
                  <%= link_to "Blog", blog_path, class: 'dropdown-item' %>
                  <%= link_to "Videos", videos_path, class: 'dropdown-item'  %>
                  <%= link_to "Search", search_path, class: 'dropdown-item'  %>
                </div>
              </li>
            </ul>
            <span class="navbar-text">
              <button class="cr-navbar__btn">
                Schedule Call
              </button>
            </span>
          </div>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="container">
        <h1 class="content__heading mar-top-14">
          Reach your next growth <span class="br"></span>
          milestone faster.
        </h1>
        <h2 class="content__desc mar-top-38">
          We empower tech companies to <span>prioritize, build & analyse</span> their <span>growth experiments</span> <span class="br"></span>
          by providing them with on-demand tech, design & marketing ressources.
        </h2>
      </div>
    </div>
  </section>

  <section id="members">
    <div class="container">
      <div class="content">
        <h3 class="content__title">
          Our team members worked for
        </h3>
        <div class="content__logos-list">
          <%= image_tag "index-new/companies/cm.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/reeport.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/algolia.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/rise-up.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/mon-banquet.png", class: "content__logo-item" %>
        </div>
      </div>
    </div>
  </section>

  <section id="call">
    <div class="container">
      <div class="content pad-90-0-50">
        <form id="ck_subscribe_form" class="ck_subscribe_form js--change-point" action="https://forms.convertkit.com/landing_pages/286668/subscribe" data-remote="true">
          <div class="form-group ck_control_group ck_email_field_group form">
            <label class="d-none ck_label" for="ck_emailField" >Email Address</label>
            <input placeholder="Enter your email" name="email" class="form__email ck_email_address js--email-input" id="ck_emailField" type="email" required="" />
            <input id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields form__btn" type="submit" name="submit" value="Schedule call" data-drip-attribute="sign-up-button" />
            <p class="form__desc">We’ll go over exactly what Croissant could do for you</p>
          </div>
          <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
            <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
          </div>
          <script async id="_ck_286668" src="https://forms.convertkit.com/286668?v=6"></script>
        </form>
        <p class="d-none form__success">Thanks! Will get in touch with you asap to schedule the call.</p>
      </div>
    </div>
  </section>

  <footer id="footer" class="cr-footer">
    <div class="container">
      <div class="content">
        <%= image_tag "index-new/croissant-logo.png", class: "cr-footer__logo" %>
        <p class="cr-footer__text">© 2018 Croissant - Made with ❤️ in France</p>
      </div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
