<% content_for :title, "On-Demand Growth Team for growing companies 🥐"  %>
<% content_for :description, "We are a team of engineers, designers and marketers that you can hire to do customer acquisition and roduct optimization." %>
<% content_for :ogtitle, "On-Demand Growth Team for growing companies 🥐" %>
<% content_for :ogdescription, "We are a team of engineers, designers and marketers that you can hire to do customer acquisition and roduct optimization." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('og-croissant.png') %>
<%= content_for :css do %>
  <%= stylesheet_link_tag  "models/index"  %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<% end %>

<div class="main">
  <section id="hero" class="main_hero">
    <%= image_tag "index-new/navbar-oval.png", class: "cr-navbar--oval d-none d-md-block" %>
    <%= image_tag "index-new/navbar-oval-mob.png", class: "cr-navbar--oval--mob d-block d-md-none" %>
    <header class="cr-navbar">
      <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "index-new/croissant-logo.png", class: "d-inline-block align-top" %>
          <% end %>
          <button class="navbar-toggler position" type="button" data-toggle="collapse" data-target="#navbarToggler2" aria-controls="navbarToggler2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse mob-dropdown d-lg-none" id="navbarToggler2">
            <%= image_tag "index-new/croissant-logo.png", class: "mob-dropdown__logo d-inline-block align-top" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler2" aria-controls="navbarToggler2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon close"></span>
            </button>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <%= link_to "Experiments", experiments_path, class: 'cr-navbar__link nav-link'  %>
              </li>
              <li class="nav-item dropdown">
                <a class="cr-navbar__link nav-link" href="#">
                Resources
                </a>
                <div class="dropdown__res-links">
                  <%= link_to "Newsletter", newsletter_path, class: 'dropdown-item'  %>
                  <%= link_to "Blog", blog_path, class: 'dropdown-item' %>
                  <%= link_to "Videos", videos_path, class: 'dropdown-item'  %>
                  <%= link_to "Search", search_path, class: 'dropdown-item'  %>
                </div>
              </li>
            </ul>
            <button class="cr-navbar__btn">
              +33 6 50 08 49 44
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Experiments", experiments_path, class: 'cr-navbar__link nav-link'  %>
              </li>
              <li class="nav-item dropdown">
                <a class="cr-navbar__link nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
                </a>
                <div class="cr-navbar__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "Newsletter", newsletter_path, class: 'dropdown-item'  %>
                  <%= link_to "Blog", blog_path, class: 'dropdown-item' %>
                  <%= link_to "Videos", videos_path, class: 'dropdown-item'  %>
                  <%= link_to "Search", search_path, class: 'dropdown-item'  %>
                </div>
              </li>
            </ul>
            <span class="navbar-text">
              <button class="cr-navbar__btn js--activate-input">
                +33 6 50 08 49 44
              </button>
            </span>
          </div>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="container">
        <h1 class="content__heading mob-mar-top-69 mar-top-40">
          Launch better growth experiments faster.
        </h1>
        <h2 class="content__desc mar-top-16 mob-mar-top-23">
          We are a team of engineers, designers & marketers managing, building and analysing <span class="br"></span>
          growth experiments for SaaS, Marketplace and Ecommerce.
        </h2>
        <%= link_to "Explore experiments", experiments_path, class: 'content__main-btn'  %>
      </div>
    </div>
    <%= image_tag "index-new/illustration.png", class: "main_bg" %>
  </section>

  <section id="members">
    <div class="container">
      <div class="content">
        <h3 class="content__title mob-mar-top-22">
          Our team members worked for
        </h3>
        <div class="content__logos-list d-none d-md-flex">
          <%= image_tag "index-new/companies/cm.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/reeport.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/algolia.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/rise-up.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/mon-banquet.png", class: "content__logo-item" %>
        </div>
        <div class="content__logos-list--mob d-md-none d-block">
          <%= image_tag "index-new/companies/algolia-mob.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/mon-banquet.png", class: "content__logo-item" %>
          <%= image_tag "index-new/companies/reeport-mob.png", class: "content__logo-item" %>
        </div>
      </div>
    </div>
  </section>
  <section class="d-none" id="call">
      <div class="container">
        <div class="content pad-90-0-50">
          <form id="ck_subscribe_form" class="ck_subscribe_form js--change-point" action="https://forms.convertkit.com/landing_pages/286668/subscribe" data-remote="true">
            <div class="form-group ck_control_group ck_email_field_group form js--form">
              <label class="d-none ck_label" for="ck_emailField">Email Address</label>
              <input placeholder="Enter your email" name="email" class="form__email ck_email_address js--email-input" id="ck_emailField" type="email" required="" />
              <input id="ck_subscribe_button" class="subscribe_button ck_subscribe_button btn fields form__btn" type="submit" name="submit" value="Schedule call" data-drip-attribute="sign-up-button" />
              <p class="form__desc">We’ll go over exactly what Croissant could do for you</p>
            </div>
            <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
              <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
            </div>
            <script async id="_ck_286668" src="https://forms.convertkit.com/286668?v=6"></script>
          </form>
          <p class="d-none form__success">Thanks! Will get in touch with you asap to schedule the call.</p>
        </div>
      </div>
    </section>
  <footer id="footer" class="cr-footer">
    <div class="container">
      <div class="content">
        <%= image_tag "index-new/croissant-logo.png", class: "cr-footer__logo" %>
        <p class="cr-footer__text">© 2018 Croissant - Made with ❤️ in France</p>
      </div>
    </div>
  </footer>
</div>
<% content_for :js do %>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    $('.js--activate-input').on('click', function(event) {
      event.preventDefault();
      $('html, body').animate({
        scrollTop: $('.js--form').offset().top
      }, 500);
      $('.js--email-input').focus();
    })
  </script>
<% end %>
