<% content_for :title, "B2B SaaS Marketing & Growth"  %>
<% content_for :description, "The Growth bakery is a solo B2B SaaS Marketing & Growth consultancy that uses a data-driven approach to customer acquisition." %>
<% content_for :ogtitle, "B2B SaaS Marketing & Growth" %>
<% content_for :ogdescription, "The Growth bakery is a solo B2B SaaS Marketing & Growth consultancy that uses a data-driven approach to customer acquisition." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :body_class, "blue" %>
<%= content_for :css do %>
  <%= stylesheet_link_tag  "bootstrap", "models/articles",  "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages"  %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<% end %>
<%= render "shared/stack_res-navbar" %>
<div class="main-container">
  <section class="text-center">
		<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-md-12">
						<h1 class="title-course">
					<b>Build your B2B SaaS Marketing Foundation</b>
						</h1>
				<h2 class="title-desc">
					<b>A Free 7-day email course to learn the specificities of Marketing a B2B SaaS</b>
				</h2>
			</div>
			</div>
			<div class="row sub-field-offset">
				<div class ="col-sm-11 col-sm-offset-1 col-md-9 col-sm-offset-3">
					<form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/250093/subscribe" data-remote="true">
					<input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
					<input type="hidden" name="id" value="250093" id="landing_page_id">
					<input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">
				<div class="ck_control_group ck_email_field_group col-sm-8">
					<!-- <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> -->
					<input type="email" class="validate-required validate-email form-control ck_email_address" name="email"id="ck_emailField" autocomplete="on" placeholder="Please fill in your email address" required>
				</div>
				<div class="col-sm-3">
					<!-- <input type="submit" value="Subscribe"   class="col-md-12 btn btn-lg btn-success subscribe_button ck_subscribe_button"> -->
					<button type="submit" name="subscribed" id="ck_subscribe_button" class="btn btn--light-green">Subscribe</button>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
				</div>
				</form>
				<!-- /End hero-section -->
				<div class="ck_errorArea">
				<div id="ck_error_msg" style="display:none">
					<p>Sorry, there was an error. Please try again to subscribe.</p>
				</div>
				</div>
					</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="info _bg_white">
		<div class="container">
			<div class="row _offset">
				<div class="col-sm-12 col-md-12">
					<h4 class="info__title">
						<b>Understand what you need to take your company to the next level</b>
					</h4>
					<p class="info__par _font_medium">
						You know how important marketing is. You won't be here if not, right?
					</p>
					<p class="info__par _font_medium">
						You also know how B2B SaaS companies are build on strong marketing foundation despite all the buzz about the latest growth hacks. What matters is a great understanding of your customers struggles, motivations and how your SaaS help them to do a better job.
					</p>
					<p class="info__par _font_medium">
						And while growth is all what people seems to be talking about, there’s not much out there that goes into details about the marketing foundation you need to build to make sure your company is ready for the next level.
					</p>
					<p><%= image_tag("courses.jpg", class: "info__image-centered") %></p>
					<h4 class="info__title">
						<b>Not knowing how to market your SaaS is hurting your growth</b>
					</h4>
					<p class="info__par _font_medium">	
						Many founders consider marketing like a task on their to-do list, a thing to do when they have time and when it’s done, it’s done!
					</p>
					<p class="info__par _font_medium">
						If it’s how you are treating your marketing right now, you are missing out.
					</p>
					<p class="info__par _font_medium">
						I’ve worked with several B2B SaaS companies since I launched Growth Bakery - a solo B2B SaaS Marketing & Growth consultancy that uses a data-driven approach to customer acquisition - in 2013. With some backed by well-know accelerators and investors like Y-Combinator, 500 Startups, Jason Lemkin, P9 Capital, Alven Capital, etc.
					</p>
					<p class="info__par _font_medium">
						What I’ve learned during that time is how important a strong marketing foundation can be for the success of a B2B SaaS companies.
					</p>
					<h4 class="info__title">
						<b>Introducing - A Free 7-Day Email Course: Marketing 101 for B2B SaaS</b>
					</h4>
					<p class="info__par _font_medium">
						I’ve created a 7-Day Email course to answer all the questions I get about Marketing from founders of early-stage B2B SaaS Companies.
					</p>
					<p>
						<ul class="info__list">
								<li>Day 1 - Why Marketing?</li>
								<li>Day 2 - Seeds, Nets & Spears</li>
								<li>Day 3 - Ideal Customer Profile & Product Marketing</li>
								<li>Day 4 - AIDA, AARRR & JTBD</li>
								<li>Day 5 - Marketing Acquisition Channels</li>
								<li>Day 6 - Growth Model + Sales (Marketing/Growth B2B SaaS Consulting)</li>
								<li>Day 7 - Marketing Strategy</li>
						</ul>
					</p>
					<p class="info__par _font_medium">
						Sign up for my Free 7-Day Email Course: <%= link_to "Marketing 101 for B2B SaaS", marketing_course_path %>
					</p>
					<p class="info__par _font_medium">
						Still have questions? Drop me an email: <a href="mailto:maxime@growthbakery.com">maxime@growthbakery.com</a>
					</p>
					<p class="info__par _font_medium">
						- Maxime Salomon
					</p>
				</div>
			</div>
	</section>
</div>
<% content_for :js do %>
<%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "script"  %>
<script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
<script type="text/javascript">
  analytics.page('Marketing 101 for B2B SaaS');
</script>

<% end %>