<head>
	<title>Mauvaise rétention - Newsletter 27 Juillet 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="De très bonnes ressources encore cette semaine avec notamment un article très intéressant sur les raisons qui ont poussé HomeJoy (YCS10) à fermer ses portes à la fin du mois de juillet. L’une d’entre elles, la rétention sur leur plateforme." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Mauvaise rétention" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/mauvaise-retention" />
    <meta property="og:description" content="De très bonnes ressources encore cette semaine avec notamment un article très intéressant sur les raisons qui ont poussé HomeJoy (YCS10) à fermer ses portes à la fin du mois de juillet. L’une d’entre elles, la rétention sur leur plateforme." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/27-juillet.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/mauvaise-retention">
	<meta name="twitter:title" content="Mauvaise rétention">
	<meta name="twitter:description" content="De très bonnes ressources encore cette semaine avec otamment un article très intéressant sur les raisons qui ont poussé HomeJoy (YCS10) à fermer ses portes à la fin du mois de juillet. L’une d’entre elles, la rétention sur leur plateforme.">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/27-juillet.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Mauvaise rétention</h1>
					<div class="newsletter-date">
						<p>Newsletter du 27 Juillet 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>De très bonnes ressources encore cette semaine :)</p></br>
							<p>Notamment un article très intéressant sur les raisons qui ont poussé HomeJoy (YCS10) à fermer ses portes à la fin de ce mois de juillet. L’une d’entre elles, la rétention sur leur plateforme.<p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.forbes.com/sites/ellenhuet/2015/07/23/what-really-killed-homejoy-it-couldnt-hold-onto-its-customers/">
											[Article] What Really Killed HomeJoy?
										</a>
									</p>
								</div>
								<div class="description">
									<p>Il y a 10 jours, Adora Cheung (CEO de Homejoy) annonçait la fin de son aventure entrepreneuriale. Dans cet article, on y découvre les multiples raisons pour que cette startup ayant levé plus de 40m$ ferme ses portes. L’une d’elles, la mauvaise rétention.</p>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.heavybit.com/library/video/2015-07-14-intercom-growth">
										[Vidéo] Growth Hacking is BS
										</a>
									</p>
								</div>
								<div class="description">
									<p>[Attention: Titre optimisé pour le clique] Dans cette présentation, deux membres de l’équipe growth d’Intercom partagent leurs expériences, apprentissages et leur vision de la croissance utilisateur. Ils discutent également de leur avis sur le terme growth hacking.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://medium.com/@samson_hu/building-analytics-at-500px-92e9a7005c83">[Article] Building Analytics at 500px</a></p>
								</div>
								<div class="description">
									<p>
										Article très intéressant sur l’implémentation et les apprentissages analytics effectués chez 500px. Un article un peu plus technique qui plaira à beaucoup.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://blog.hubspot.com/marketing/blog-strategy-quality-quantity">
										[Article] Quality vs. Quantity: A 6-Month Analysis
									</a></p>
								</div>
								<div class="description">
									<p>
										Une question revient souvent lorsque l’on parle de création de contenu et d’inbound marketing. Qualité vs quantité? Hubspot a quelques éléments de réponse qui vous permettront de réfléchir à votre propre stratégie.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://www.getvero.com/resources/udemy">
										[Article] How Udemy Generates More Revenue with A/B Testing
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Retours d’expérience d’Udemy sur leur implémentation et stratégie d’A/B testing avec ici comme exemples des tests sur leur welcome email et un email promotionnel.
									</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://funnel.io">[Produit] Funnel.io - Cross channel advertising reporting</a>
									</p>
								</div>
								<div class="description">
									<p>
										Funnel.io vous permet d’analyser toutes vos campagnes de paid advertising dans un même outil en y connectant vos différents managers et google analytics.
									</p>
								</div>
								<div class="image">
									<a href="https://funnel.io"><%= image_tag("newsletters/funnel.png", alt: "Funnel.io", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://www.inboundnow.com">
											[Produit] InboundNow - Inbound Marketing for WordPress
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										InboundNow est votre outil d’Inbound Marketing pour wordpress. Création de landing pages, A/B testing, lead management & marketing automation sont donc au rendez-vous.
									</p>
								</div>
								<div class="image">
									<a href="http://www.inboundnow.com/"><%= image_tag("newsletters/inboundnow.png", alt: "InboundNow", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://www.podbox.com/blog/podbox-recruits-a-web-developer-marketer-growth-hacker-rennes">[CDI] Rennes - Growth Hacker pour PodBox</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/responsable-marketing-et-communication-wingly-stage-paris-hf/">[Stage] Paris - Responsable Marketing et Communication pour Wingly</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/content-writer-kameleoonrocks-cdi-paris-hf/">[CDI] Paris - Content Writer pour Kameleoon</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/webmarketing-community-manager-somhomefrance-stage-paris-hf/">[Stage] Paris - Web Marketing pour SomHome</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>