<% content_for :title, "Newsletter"  %>
<% content_for :description, "A weekly email of interesting Marketing & Growth resources for startups" %>
<% content_for :ogtitle, "Newsletter" %>
<% content_for :ogdescription, "A weekly email of interesting Marketing & Growth resources for startups" %>
<% content_for :ogtype, "newsletter" %>
<% content_for :ogimage, image_path('ogimage-croissant.jpg') %>
<% content_for :css do %>
  <%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages" %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<%= render "shared/navbar" %>
<script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>
<div class="main-container">
  <section class="section section--pad_hero text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1 class="section__heading _font_couture">Croissant Newsletter</h1>
          <p class="section__subheading _font_lato lead">
            A monthly email of Growth resources for SaaS & Marketplaces.
					</p>
          <p class="section__subheading _font_lato">
            Next newsletter in September.
          </p>
          <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/3255/subscribe" onsubmit="Subscribed()" data-remote="true">
            <input
							type="hidden"
							value="{&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;70&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}"
							id="ck_form_options"></input>
            <input type="hidden" name="id" value="3255" id="landing_page_id"></input>
          <div class="ck_control_group ck_email_field_group col-sm-8">
            <!-- <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> -->
            <input type="email" class="validate-required validate-email form-control ck_email_address" name="email"id="ck_emailField" autocomplete="on" placeholder="Enter your email address to subscribe" required>
          </div>
          <div class="col-sm-4">
            <!-- <input type="submit" value="Subscribe"   class="col-md-12 btn btn-lg btn-success subscribe_button ck_subscribe_button"> -->
            <button type="submit" name="subscribed" id="ck_subscribe_button" class="btn btn--primary type--uppercase">Subscribe</button>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
          </div>
        </form>
        <!-- /End hero-section -->
        <div class="ck_errorArea">
          <div id="ck_error_msg" style="display:none">
            <p>Sorry, there was an error. Please try again to subscribe.</p>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<hr>
<section class="text-center ">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>Newsletters</h1>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="space--sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="masonry masonry-blog-list">
          <div class="masonry__container">
            <% @newsletters.order("date desc").each do |newsletter| %>
              <article class="masonry__item filter-<%= newsletter.topic_name %>" data-masonry-filter="<%= newsletter.topic_name %>">
              <% if newsletter.image.blank? %>
                <div class="article__title text-center">
                  <%= link_to articles_show_path(newsletter) do %>
                    <h2><%= newsletter.title %></h2>
                  <% end %>
                  <span><%= newsletter.date && (newsletter.date.strftime("%B #{newsletter.date.day.ordinalize} %Y") + ' in ') %>
									</span>
                  <span>
										<% newsletter.topics.each do |topic| %>
											<%= link_to topic.name.capitalize, topic_path(topic.name.downcase), class:"f__up f__no-und categories__link js__category-name"%>
										<% end %>
                  </span>
                </div>
              <% end %>
                <!--end newsletter title-->
                <div class="article__body">
                  <%= link_to articles_show_path(newsletter) do %>
                    <%= image_tag newsletter.image.url %>
                  <% end %>
                  <p>
                    <%= newsletter.description %>
                  </p>
                </div>
              </article>
            <% end %>
          </div>
          <!--end of masonry container-->
          <div class="pagination">
            <div class="col-xs-6">
              <a class="type--fine-print" href="#">&laquo; Older Posts</a>
            </div>
            <div class="col-xs-6 text-right">
              <a class="type--fine-print" href="#">Newer Posts &raquo;</a>
            </div>
          </div>
        </div>
        <!--end masonry-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<%= render "shared/stack_footer" %>
</div>
<% content_for :js do %>
  <%= javascript_include_tag "jquery-3.1.1.min", "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "script"  %>
  <script type="text/javascript">
	  analytics.page('Newsletter', {
		  path: '/newsletter',
      url: "https://croissant.io/newsletter"
	  });
    fixHeader()
  </script>
<% end %>

