<head>
	<title>Le Growth Hacking n’est pas fait pour vous - Newsletter 19 Juillet 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="De supers articles encore cette semaine avec notamment un bon article sur les fondamentaux du Growth Hacking et un Ask Me Anything de haut niveau avec Andy Johns (ex-Facebook, Twitter, Quora)." />
    <meta name="author" content="Croissant" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Le Growth Hacking n’est pas fait pour vous" />
    <meta property="og:site_name" content="Croissant" />
    <meta property="og:url" content="http://croissant.io/non-growth-hacking" />
    <meta property="og:description" content="De supers articles encore cette semaine avec notamment un bon article sur les fondamentaux du Growth Hacking et un Ask Me Anything de haut niveau avec Andy Johns (ex-Facebook, Twitter, Quora)." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/19-juillet.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://croissant.io/non-growth-hacking">
	<meta name="twitter:title" content="Le Growth Hacking n’est pas fait pour vous">
	<meta name="twitter:description" content="De supers articles encore cette semaine avec notamment un bon article sur les fondamentaux du Growth Hacking et un Ask Me Anything de haut niveau avec Andy Johns (ex-Facebook, Twitter, Quora).">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/19-juillet.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Le Growth Hacking n’est pas fait pour vous</h1>
					<div class="newsletter-date">
						<p>Newsletter du 19 Juillet 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !<p></br>
							<p>De supers articles encore cette semaine avec notamment un bon article sur les fondamentaux du Growth Hacking et un Ask Me Anything de haut niveau avec Andy Johns (ex-Facebook, Twitter, Quora).</p><br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://venturebeat.com/2015/07/12/why-growth-hacking-is-failing-most-of-us/">[Article] Why growth hacking is failing most of us</a></p>
								</div>
								<div class="description">
									<p>Un bon article sur les fondamentaux du Growth Hacking:<p>
									<li>Il y a un temps pour tout, et surtout pour le growth hacking.</li>
									<li>Sans product market-fit vos efforts de croissance seront vains.</li>
									<li>Une fois le moment venu de scaler votre marketing, une rigueur est nécessaire pour être efficace sur le long terme.</li>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://growthhackers.com/questions/ama-im-andy-johns-ex-growth-at-facebook-twitter-quora-ex-eir-greylock-current-director-of-growth-and-revenue-at-wealthfront/">[AMA] I’m Andy Johns ex-Facebook, Twitter, Quora</a></p>
								</div>
								<div class="description">
									<p>“Growth is really just the redefinition of the Chief Marketing Officer (CMO) role that has historically been critical to brick and mortar/traditional companies. But technology companies are fundamentally distinct from brick and mortar companies. Netflix was not like Blockbuster. The way in which Netflix grew was completely different than Blockbuster. Therefore, the teams and people you need with a company like Netflix is very different than the teams and people you needed within a company like Blockbuster. That’s why Growth is a “thing”. A traditional CMO would not have helped Facebook reach the scale at which it now operates. But a traditional CMO may help traditional brick and mortar companies out quite a bit.” - Andy Johns</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://product.hubspot.com/blog/the-metric-watched-by-top-startup-growth-teams">[Article] The Metric Watched by Top Startup Growth Teams</a></p>
								</div>
								<div class="description">
									<p>Spoiler Alert: L’activation. Pourquoi cette métrique est-elle si appréciée? Tout simplement car si elle est bien configurée, elle représente le comportement utilisateur souhaité et est souvent lié à la rétention.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://www.youtube.com/watch?v=Tn5ABCAwCzQ">[Vidéo] Rock your analytics and tracking with Segment.io</a></p>
								</div>
								<div class="description">
									<p>Présentation très complète de Guillaume Cabane (CMO chez Mention) sur l’integration que son équipe et lui même ont fait de Segment.io. Très intéressant pour comprendre les possibilités de ce genre d’outil.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://unbounce.com/landing-pages/how-fiverr-conquered-conversion/">[Article] How Fiverr Conquered Conversion with 400 A/B Tests</a></p>
								</div>
								<div class="description">
									<p>Superbe étude de cas sur la façon dont Fiverr a implémenté ses premiers A/B tests, a transformé ses apprentissages en processus et a au final amélioré les taux de conversion de ses landing pages par 457%. Nice job !</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://facebook.github.io/planout/">[Produit] PlanOut - A framework for online field experiments.</a></p>
								</div>
								<div class="description">
									<p>Planout vous permet de créer et de mettre en place simplement des tests complexes de votre app web tout en respectant les règles statistiques et les contraintes du développement web..</p>
								</div>
								<div class="image">
									<a href="https://facebook.github.io/planout/"><%= image_tag("newsletters/planout.png", alt: "Planout", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p><a href="https://www.fullstory.com/">[Produit] FullStory - See what your users see.</a></p>
								</div>
								<div class="description">
									<p>FullStory vous permet d’enregistrer, de voir et d’analyser simplement la réelle expérience de vos utilisateurs grâce à des vidéos de leurs visites. Imaginez FullStory comme le magnétoscope des interactions avec vos clients.</p>
								</div>
								<div class="image">
									<a href="https://www.fullstory.com/"><%= image_tag("newsletters/fullstory.png", alt: "FullStory", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/consultant-webanalytics-conversion-uptilab-stage-paris-hf/">[Stage] Paris - Consultant Webanalytics & Conversion pour Uptilab</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/marketing-communication-envoituresimone-stage-paris-hf/">[CDI] Paris - Marketing / Communication pour En Voiture Simone</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azn.do/growth-hacker-recruitment">[CDI] Bordeaux - Growth Expert pour Azendoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://angel.co/lima-1/jobs/72144-growth-hacker">[Stage] Paris - Growth Hacker pour Lima</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://3dsoundlabs.com/recrutement/#webmkg">[Stage] Paris - Chef de Projet Marketing pour 3dsoundlabs</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://payplug.workable.com/jobs/75633">[Stage] Paris - Stagiaire Web Marketing pour PayPlug</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>