<head>
	<title>Votre première campagne d'acquisition payante - Newsletter 25 Octobre 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Petite présentation bien sympa de la part des partners de chez Social Capital avec quelques bons conseils pratiques afin de réussir votre première campagne d'acquisition payante." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Votre première campagne d'acquisition payante" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/premiere-campagne-acquisition-payante" />
    <meta property="og:description" content="Petite présentation bien sympa de la part des partners de chez Social Capital avec quelques bons conseils pratiques afin de réussir votre première campagne d'acquisition payante." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, property: 'og:image', content: asset_url("newsletters/25-octobre.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/premiere-campagne-acquisition-payante">
	<meta name="twitter:title" content="Votre première campagne d'acquisition payante">
	<meta name="twitter:description" content="Petite présentation bien sympa de la part des partners de chez Social Capital avec quelques bons conseils pratiques afin de réussir votre première campagne d'acquisition payante.">
	<%= tag(:meta, property: 'twitter:image', content: asset_url("newsletters/25-octobre.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Votre première campagne d'acquisition payante</h1>
					<div class="newsletter-date">
						<p>Newsletter du 25 Octobre 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Petite présentation bien sympa de la part des partners de chez Social Capital avec quelques bons conseils pratiques afin de réussir votre première campagne d'acquisition payante.</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://fr.slideshare.net/AndrewArtz1/how-to-spend-your-first-10k-in-paid-marketing-for-startups">
											[Présentation] How to spend your first $10K in paid marketing for startups
										</a>
									</p>
								</div>
								<div class="description">
									<p>Présentation de Social Capital sur l’implémentation de votre première campagne d’acquisition payante et comment vous pouvez optimiser cette dernière grâce aux audiences personalisées.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.heavybit.com/library/video/2015-02-10-ben-porterfield">
											[Vidéo] Data-Driven Product Changes with Venmo and Instacart
										</a>
									</p>
								</div>
								<div class="description">
									<p>Intéressante présentation de Ben Porterfield, VP Eng chez Looker sur les quelques éléments qui font que votre entreprise est “data-driven” et comment les implémenter si ce n’est pas le cas.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://firstround.com/review/expensifys-ceo-on-the-tactics-that-doubled-its-customer-base-in-just-six-months/">
											[Article] Tactics that Doubled Expensify Customer Base in Just 6 Months
										</a>
									</p>
								</div>
								<div class="description">
									<p>Article sans BS du CEO d’Expensify sur la façon dont son entreprise a crût de 100% en 6 mois. Attention cependant à prendre cet article qui revendique la prise de décision “gut-driven” comme une généralité.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://www.pierrelechelle.com/saas-free-trial-optimization">
										[Cours] SaaS free Trial Optimization
									</a></p>
								</div>
								<div class="description">
									<p>Cours de 14 semaines sur l’optimisation du Free Trial pour les produits SaaS. Un bon moyen de commencer à réfléchir à ses problématiques et améliorer vos taux de conversion.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://medium.com/mobile-growth/from-k-factor-to-emotion-f325088a5472">
											[Article] From k-factor to emotion
										</a>
									</p>
								</div>
								<div class="description">
									<p>Une bonne décomposition et modélisation de l’ensemble du processus de partage d’une application mobile avec quelques tips intéressants. À lire!</p>
								</div>
							</div>
						</div>					
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://onesignal.com/">
											[Produit] OneSignal - cross platform push notification delivery
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										OneSignal vous permet d’envoyer des notifications push sur la majorité des plateformes mobiles disponibles et automatiser le process.
									</p>
								</div>
								<div class="image">
									<a href="https://onesignal.com/"><%= image_tag("newsletters/onesignal.png", alt: "OneSignal", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://blog.twitter.com/2015/introducing-twitter-polls">
											[Produit] Twitter - Polls
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Twitter a sorti cette semaine un nouveau produit, Twitter Polls. Un outil intéressant pour améliorer l’engagement de votre communauté.
									</p>
								</div>
								<div class="image">
									<a href="https://blog.twitter.com/2015/introducing-twitter-polls"><%= image_tag("newsletters/twitter-polls.png", alt: "Twitter Polls", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://docs.google.com/document/d/1ziqCHcdPqaWMfAe0X9KINKkr8cRERNZMCVW5_hdi2lw/edit">[CDI] Paris - "Growth hacker / Web marketer" pour Souscritoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.smartrecruiters.com/BlaBlaCar/86094371-data-scientist">[CDI] Paris - "Data Analyst" pour BlaBlaCar
</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.linkedin.com/jobs2/cap/view/76605505">[CDI] Londres - "SEO Manager" pour Iron Web</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>