<head>
	<title>Le produit comme levier de croissance - Newsletter 17 Août 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Une newsletter un peu tardive mais toujours composée d'article de qualité - c'est en tout cas l'objectif. Avec cette semaine un focus sur l'utilisation du produit comme levier de croissance." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Le produit comme levier de croissance" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/produit-levier-croissance" />
    <meta property="og:description" content="Une newsletter un peu tardive mais toujours composée d'article de qualité - c'est en tout cas l'objectif. Avec cette semaine un focus sur l'utilisation du produit comme levier de croissance." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, :property => 'og:image', :content => asset_url("newsletters/17-aout.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/produit-levier-croissance">
	<meta name="twitter:title" content="Le produit comme levier de croissance">
	<meta name="twitter:description" content="Une newsletter un peu tardive mais toujours composée d'article de qualité - c'est en tout cas l'objectif. Avec cette semaine un focus sur l'utilisation du produit comme levier de croissance.">
	<%= tag(:meta, :property => 'twitter:image', :content => asset_url("newsletters/17-aout.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Le produit comme levier de croissance</h1>
					<div class="newsletter-date">
						<p>Newsletter du 17 Août 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Une newsletter un peu tardive mais toujours composée d'article de qualité - c'est en tout cas l'objectif. Avec cette semaine un focus sur l'utilisation du produit comme levier de croissance.</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Les meilleures ressources de la semaine</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://fr.slideshare.net/dan_o/how-to-create-products-for-growth-by-dan-olsen-at-growth-hacking-summit">
											[Présentation] How to Create Products for Growth
										</a>
									</p>
								</div>
								<div class="description">
									<p>Très bonne présentation de Dan Olsen sur la façon d’utiliser le produit comme levier de croissance et les différentes phases par lesquelles ce dernier passe.</p>
										</ul>
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://jwegan.com/growth-hacking/features-drive-growth">
										[Article] When do features drive growth?
										</a>
									</p>
								</div>
								<div class="description">
									<p>Super article de John Egan (Growth Engineer chez Pinterest) sur les caractéristiques nécessaires à une feature afin d'avoir un impact sur la croissance.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://fr.slideshare.net/MartijnScheijbeler/opticon-scaling-the-next-webs-testing-program-to-maximum-impact">
										[Présentation] Scaling The Next Web’s Testing Program
									</a></p>
								</div>
								<div class="description">
									<p>
										Présentation de Martijn Scheijbeler (Lead growth chez The Next Web) sur la façon dont il a scalé son programme d’optimisation (on notera la création d’un outil de gestion des tests).
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://tomtunguz.com/startup-growth-rate-all-time-high/">
										[Article] Why Startups Are Growing Faster Today Than Ever Before
									</a></p>
								</div>
								<div class="description">
									<p>
										Dans cet article, Tomasz Tunguz présente 3 tendances qui font que les startups croîssent actuellement beaucoup plus rapidement qu’elles ne l’ont jamais fait.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.widerfunnel.com/conversion-rate-optimization/how-to-prioritize-conversion-rate-optimization-tests-using-pie">
										[Article] How to Prioritize Conversion Rate Optimization Tests
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Article intéressant sur le processus à suivre pour prioriser au mieux les tests d’optimisation de vos taux de conversion - “Potential. Importance. Ease.”
									</p>
								</div>
							</div>
						</div>
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://www.knowtify.io/">
											[Produit] Knowtify - Engagement Marketing Platform
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Knowtify vous permet d’envoyer des emails à vos utilisateurs basés sur les actions prises ou non par ces derniers. Mais aussi d'avoir un profil d’engagement complet sur chacun de vos utilisateurs.
									</p>
								</div>
								<div class="image">
									<a href="http://www.knowtify.io/"><%= image_tag("newsletters/knowtify.png", :alt => "Knowtify", :width => 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="http://wizrocket.com">
											[Produit] Wizrocket - Engage your users with notifications
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Wizrocket vous permet d’analyser vos données de façon précises et de réengager les utilisateurs non-actifs grâce à un système de notifications (web, mobile et email).
									</p>
								</div>
								<div class="image">
									<a href="http://wizrocket.com/"><%= image_tag("newsletters/wizrocket.png", :alt => "Wizrocket", :width => 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-flayrfr-cdi-paris-hf/">[CDI] Paris - Growth Manager pour Flayr</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-business-developer-aircall-stage-paris-hf/">[Stage] Growth & Business Developer pour Aircall</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.podbox.com/blog/podbox-recruits-a-web-developer-marketer-growth-hacker-rennes">[CDI] Rennes - Growth Hacker pour PodBox</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/responsable-marketing-et-communication-wingly-stage-paris-hf/">[Stage] Paris - Responsable Marketing et Communication pour Wingly</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/webmarketing-community-manager-somhomefrance-stage-paris-hf/">[Stage] Paris - Web Marketing pour SomHome</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>