<% content_for :title, "Resources"  %>
<% content_for :description, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtitle, "Resources" %>
<% content_for :ogdescription, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :css do %>
<%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme" %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>
<div class="about">
	<%= render "shared/stack_navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= form_for resources_path, method: :get, html: {id: "search-form"} do |f| %>
				<div class="col-md-8 col-md-offset-2">
					<input type="search" id="aa-search-input" class="aa-input-search" name="query" placeholder="Search by title" autocomplete="on">
					<div class="aa-input-container" id="aa-input-container"></div>
				</div>
				<div class="col-md-4">
					<p class="inline">Search</p>
					<%= f.select params[:resource_type], options_for_select(["Article", "Video", "Presentation", "Link"], selected: @selected_option[:resource_type]), {}, {:class => "manual-filter form-control col-md-7 col-xs-12" }%>
				</div>
				<div class="col-md-4">
					<p class="inline">By</p>
					<%= f.select params[:order], options_for_select([["Date - Oldest first", "date ASC"],["Date - Newest first", "date DESC"], ["Grade", "grade DESC"]], selected: @selected_option[:order]), {}, {:class => "manual-filter form-control col-md-7 col-xs-12"
					}%>
				</div>
				<div class="col-md-4">

					<p class="inline">From</p>
					<%= f.select params[:daterange], options_for_select([["Today", "Time.zone.now.beginning_of_day..Time.zone.now.end_of_day"], ["This Week", "Time.zone.now.beginning_of_week..Time.zone.now.end_of_week"], ["This month",
					"Time.zone.now.beginning_of_month..Time.zone.now.end_of_month"], ["This year", "Time.zone.now.beginning_of_year..Time.zone.now.end_of_year"], ["Range", "Custom"]], selected: @selected_option[:range]),{}, {:class => "range-filter form-control col-md-7
					col-xs-12" }%>
					<div>

						<%= f.date_field params[:lower_range], class: "col-hidden range-field", value: @selected_option[:lower] %>
						<%= f.date_field params[:upper_range], class: "col-hidden range-field range-field-lower", value: @selected_option[:upper] %>
					</div>
				</div>
				<%= f.submit "Submit", class: "col-hidden" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="space--sm search-results">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
				<div class="masonry masonry-blog-list">

					<hr>
					<div id="article-list" class="masonry__container masonry--active">
						<% @resources.each do |resource|  %>
						<article class="masonry__item filter-web-design">
							<div class="article__title text-center">
								<h2><%= resource.title %></h2>
								<span><%= resource.date.strftime("%B #{resource.date.day.ordinalize} %Y") %>
									|
									<%= resource.resource_type.capitalize %>
									|
									<%= resource.grade %>
									stars
								</span>
							</div>
							<!--end article title-->
							<div class="article__body">
								<p>
									<%= resource.description %>
								</p>
								<%= link_to "Check out the resource »", resources_show_path(resource) %>
							</div>
						</article>
						<% end %>
					</div>
				</div>
				<!--end masonry-->
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</div>
</div>
</div>
<!-- Include AlgoliaSearch JS Client and autocomplete.js jQuery plugin after the jQuery dependency -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<!-- Initialize autocomplete menu -->
<script>
var client = algoliasearch("J97XEMUI7C", "ec96a3adcb4bf3ef61b276cc5a3790d7");
var index = client.initIndex('Resource');
window.index = index
$('#aa-search-input').autocomplete({
	hint: true
}, [
	{
		source: $.fn.autocomplete.sources.hits(index, {hitsPerPage: 10}),
		//value to be displayed in input control after user's suggestion selection
		displayKey: 'title',
		//hash of templates used when rendering dataset
		templates: {
			//'suggestion' templating function used to render a single suggestion
			suggestion: function (suggestion) {
				// console.log(suggestion)
				title = (suggestion.title)
				window.grade = (suggestion.grade.toString())
				window.date = (suggestion.date)
				window.description = (suggestion.description)
				window.slug = (suggestion.slug)
				window.resource_type = (suggestion.resource_type)
				if (grade != null && title != null) {
					return '<span>' + title + '</span>';
				} else {
					return '<span> Nothing found </span>';
				}
			}
		}
	}
]);
</script>
<% content_for :js do %>
<script>
$(".manual-filter, .range-field-lower").on("change", function () {
	$("#search-form").submit()
})

$(".range-filter").on("change", function () {
	if ($(this).val() == "Custom") {
		$(".range-field").show()
	} else {
		$("#search-form").submit()
		$(".range-field").hide()
	}
})

$("#aa-search-input").on("input", function () {
	$("#article-list").empty()
	index.search($('#aa-search-input').val(), function (err, content) {
		array = content.hits.slice(0, 10)
		for (var i = 0; i < array.length; i++) {
			title = array[i].title
			grade = array[i].grade
			description = array[i].description
			date = array[i].date
			resource_type = array[i].resource_type
			slug = array[i].slug
			var html = "";
			html += "<article class=\"masonry__item filter-web-design\">";
			html += "							<div class=\"article__title text-center\">";
			html += "								<h2>" + title + "<\/h2>";
			html += "								<span>" + date + "";
			html += "									|";
			html += "									" + resource_type + "";
			html += "									|";
			html += "									" + grade + "";
			html += "									stars";
			html += "								<\/span>";
			html += "							<\/div>";
			html += "							<!--end article title-->";
			html += "							<div class=\"article__body\">";
			html += "								<p>";
			html += "									" + description + "";
			html += "								<\/p>";
			html += "								<a href=\"" + slug + "\">Check out the resource »<\/a>";
			html += "							<\/div>";
			html += "						<\/article>";
			$("#article-list").append(html)
		}
	});
})
</script>
<% end %>
