<% content_for :title, "Resources"  %>
<% content_for :description, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtitle, "Resources" %>
<% content_for :ogdescription, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>

<section class="about">
	<%= render "shared/navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- HTML Markup -->
				<%= form_for resources_path, method: :get do |f| %>
				<%= render "shared/error_messages", object: @resource %>
				<%= text_field_tag :search, params[:search],  id: "aa-search-input", class:"aa-input-search", placeholder:"Search for title, grade or type", name:"search", autocomplete:"on" %>
				<div class="aa-input-container" id="aa-input-container">
					<svg class="aa-input-icon" viewBox="654 -372 1664 1664">
						<path
							d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z"/>
					</svg>
					<%= f.submit "Submit", class: "btn-hidden" %>
				</div>
				<% end %>
				<!-- Include AlgoliaSearch JS Client and autocomplete.js jQuery plugin after the jQuery dependency -->
				<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
				<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
				<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
				<!-- Initialize autocomplete menu -->
				<script>
					var client = algoliasearch("J97XEMUI7C", "ec96a3adcb4bf3ef61b276cc5a3790d7");
					var index = client.initIndex('Resource');
					$('#aa-search-input').autocomplete({
						hint: true
					}, [
						{
							source: $.fn.autocomplete.sources.hits(index, {hitsPerPage: 10}),
							//value to be displayed in input control after user's suggestion selection
							displayKey: 'title',
							//hash of templates used when rendering dataset
							templates: {
								//'suggestion' templating function used to render a single suggestion
								suggestion: function (suggestion) {
									grade = (suggestion.grade.toString())
									title = (suggestion._highlightResult.title.value)
									resource_type = (suggestion._highlightResult.resource_type.value)
									if (grade != null && title != null) {
										return '<span>' + title + '</span><span>' + grade + '</span><span>' + resource_type + '</span>';
									} else {
										return '<span> Nothing found </span>';
									}
								}
							}
						}
					]);
				</script>
			</div>
			<!-- /End col -->
		</div>
		<!-- /End row -->
	</div>
</section>
