<% content_for :title, "Resources"  %>
<% content_for :description, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtitle, "Resources" %>
<% content_for :ogdescription, "Maxime Salomon is the founder of The Growth Bakery." %>
<% content_for :ogtype, "page" %>
<% content_for :ogimage, image_path('maxime-salomon.jpg') %>
<% content_for :css do %>
<%= stylesheet_link_tag "bootstrap", "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme", "models/pages" %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
<% end %>

<!-- Content start -->
<div class="about">
	<%= render "shared/stack_navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= form_for resources_path, method: :get, html: {id: "search-form"} do |f| %>
				<div class="col-md-10 col-md-offset-1">
					<input type="search" id="aa-search-input" class="aa-input-search" name="query" placeholder="Search resources by title, url or author" autocomplete="on">
					<div class="aa-input-container" id="aa-input-container"></div>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-3 col-sm-12 select-search clearfix">
						<p class="inline">Search</p>
						<%= f.select params[:resource_type], options_for_select(["Article", "Video", "Presentation", "Link"], selected: @selected_option[:resource_type]), {}, {:class => "manual-filter form-control col-md-7 col-xs-12 form-inline" }%>
					</div>
					<div class="col-md-2 col-sm-12 select-search  clearfix">
						<p class="inline">From</p>
						<%= f.select params[:category_id], options_from_collection_for_select(Category.all, :id, :display_name, @selected_option[:category]), {:include_blank => 'All' }, {class: "manual-filter form-control col-md-7 col-xs-12 form-inline"} %>
					</div>
					<div class="col-md-3 col-sm-12 select-search  clearfix">
						<p class="inline">By</p>
						<%= f.select params[:order], options_for_select([ ["Grade", "grade DESC"],["Oldest first", "date ASC"],["Newest first", "date DESC"]], selected: @selected_option[:order]), {}, {:class => "manual-filter form-control col-md-7 col-xs-12 form-inline" }%>
					</div>
					<div class="col-md-4 col-sm-12 select-search  clearfix">
						<p class="inline">In</p>
						<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
							<i class="fa fa-calendar"></i>&nbsp;
							<span class="date-range"></span>
							<b class="caret"></b>
						</div>
						<%= f.text_field params[:daterange], class: "col-hidden", id: "daterange" %>
					</div>
				</div>
				<%= f.submit "Submit", class: "col-hidden" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<hr>
<section class="text-center space--xs <%= @status %>">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Browse resources by category</h2>
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>
<section class="<%= @status %>">
	<div class="container">
		<div class="row">
			<% @topcategories.each do |category| %>
			<div class="col-sm-3">
				<%= link_to resource_category_path(category) do %>
					<div class="feature boxed boxed--border border--round text-center">
						<i class="icon--lg icon-Credit-Card2"></i>
						<span class="h5 color--primary"><%= category.name.capitalize %></span>
					</div>
				<% end %>
			</div>
			<% end %>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</section>
<div >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="masonry masonry-blog-list">
					<div id="article-list" class="masonry__container masonry--active">
						<% @resources.each do |resource|  %>
							<%= link_to resource.link do %>
								<div class="masonry__item resource_card">
									<h4 class="resource-title">
										<%= link_to resource.title, resource.link %>
									</h4>
									<span>
										<strong><%= resource.date.strftime("%B #{resource.date.day.ordinalize} %Y") %>
											|
											<%= resource.author %>
											|
											<%= resource.resource_type.capitalize %>
											|
											<%= resource.grade %>
											stars
										</strong>
									</span>
									<!--end article title-->
									<div>
										<p class="resource-description">
											<%= resource.description %>
										</p>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
				<!--end masonry-->
			</div>
		</div>
		<!--end of row-->
	</div>
	<!--end of container-->
</div>
</div>
</div>
<% content_for :js do %>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<%= javascript_include_tag "moment" %>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<%= javascript_include_tag "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts", "search"  %>
<script>
// <!-- The other scripts for the datepicker, submitting the form and algolia are moved into search.js. Just this one requires some ruby variables --> <!-- Initialize Datepicker.js -->
$(function () {
	var start = moment(<%= @selected_option[:upper] %>)
	var end = moment(<%= @selected_option[:lower] %>);
	function cb(start, end) {
		$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	}

	$('#reportrange').daterangepicker({
		startDate: start,
		endDate: end,
		ranges: {
			'Today': [
				moment(), moment()
			],
			'Yesterday': [
				moment().subtract(1, 'days'),
				moment().subtract(1, 'days')
			],
			'Last 7 Days': [
				moment().subtract(6, 'days'),
				moment()
			],
			'Last 30 Days': [
				moment().subtract(29, 'days'),
				moment()
			],
			'This Month': [
				moment().startOf('month'), moment().endOf('month')
			],
			'Last Month': [
				moment().subtract(1, 'month').startOf('month'),
				moment().subtract(1, 'month').endOf('month')
			]
		}
	}, cb);

	cb(start, end);

});
</script>
<% end %>
