<head>
	<title>L'utilisation des feedbacks chez Slack - Newsletter 11 Octobre 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Super article sur l'utilisation des feedbacks chez Slack, 16 nouvelles métriques à suivre et des conseils pour créer votre growth team. Newsletter chargée :)" />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="L'utilisation des feedbacks chez Slack" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/utilisation-feedbacks-slack" />
    <meta property="og:description" content="Super article sur l'utilisation des feedbacks chez Slack, 16 nouvelles métriques à suivre et des conseils pour créer votre growth team. Newsletter chargée :)" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(meta, property: 'og:image', content: asset_url("newsletters/11-octobre.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/utilisation-feedbacks-slack">
	<meta name="twitter:title" content="L'utilisation des feedbacks chez Slack">
	<meta name="twitter:description" content="Pleins de bonnes choses cette semaine avec notamment un article sur l'approche adoptée par Facebook & Remind concernant leur stratégie de croissance ainsi qu'un nouveau produit Google (Alphabet?): Customer Match.">
	<%= tag(meta, property: 'twitter:image', content: asset_url("newsletters/11-octobre.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>L'utilisation des feedbacks chez Slack</h1>
					<div class="newsletter-date">
						<p>Newsletter du 11 Octobre 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Super article sur l'utilisation des feedbacks chez Slack, 16 nouvelles métriques à suivre et des conseils pour créer votre growth team. Newsletter chargée :)</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://firstround.com/review/slacks-first-product-manager-on-how-to-make-a-firehose-of-feedback-useful/">
											[Article] How to Make a Firehose of Feedback Useful
										</a>
									</p>
								</div>
								<div class="description">
									<p>Super article sur l’utilisation des feedbacks chez Slack! “The problem is not that startups lack feedback, it's that they don't know what do with it, or what they should react to,” - Kenneth Berger, Product Manager chez Slack</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.hiregun.co/how-to-hire-a-growth-team">
											[Article] How To Hire A Growth Team For Your Business
										</a>
									</p>
								</div>
								<div class="description">
									<p>Amen. “If you’re involved in the tech marketing world at all, you’ve heard the term “growth hacking” is now all the rage. Everyone wants tactics that will 10x their business in less than 5 minutes of work, right? The reality, though, is that these unicorn hacks only happen once in a blue moon and real growth comes from consistent investment in growth channels that are known to work and can be leveraged in unique ways for your business.”</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://blog.percolate.com/2015/10/advertising-for-the-long-term/">
										[Article] Advertising for the Long Term
										</a>
									</p>
								</div>
								<div class="description">
									<p>Excellent article sur l’usage de la publicité, sa complémentarité avec des actions à court-terme et la balance à trouver entre les deux. À lire.</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="http://a16z.com/2015/09/23/16-more-metrics/">
										[Article] 16 More Startup Metrics
									</a></p>
								</div>
								<div class="description">
									<p>Nouvel article des partners de chez a16z sur les métriques à connaître sur votre business avec ici 16 nouvelles métriques qui viennent s’additionner aux 16 de l’article précédent.
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://www.matthewbarby.com/how-to-build-an-email-list/">
											[Guide] An Advanced Guide to Building an Email List
										</a>
									</p>
								</div>
								<div class="description">
									<p>Guide assez complet qui compile de nombreuses ressources intéressantes sur la façon de faire croître une liste d’email. À garder sous la main.</p>
								</div>
							</div>
						</div>					
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://validately.com/">
											[Produit] Validately - Take the pain out of user research
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Validately vous permet de gérer tout le processus de recherche utilisateur en vous aidant à trouver des testeurs, créer vos tests, enregistrer les différentes sessions et analyser ces dernières.
									</p>
								</div>
								<div class="image">
									<a href="https://validately.com/"><%= image_tag("newsletters/validately.png", alt: "Validately", width: 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://clearbit.com/sheets">
											[Produit] Clearbit Sheets - Automated lead gen in Google Sheets
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Produit très intéressant qui vous permet grâce à un add-on Google Spreadsheet de créer rapidement des listes de leads pour votre équipe marketing ou commerciale.
									</p>
								</div>
								<div class="image">
									<a href="https://clearbit.com/sheets"><%= image_tag("newsletters/clearbit-sheets.png", alt: "Clearbit Sheets", width: 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://docs.google.com/document/d/1ziqCHcdPqaWMfAe0X9KINKkr8cRERNZMCVW5_hdi2lw/edit">[CDI] Paris - "Growth hacker / Web marketer" pour Souscritoo</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.linkedin.com/jobs2/cap/view/76605505">[CDI] Londres - "SEO Manager" pour Iron Web</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.brief.me/recrutement/">[CDI] Paris - "Growth Hacker" pour Brief.me</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-flayrfr-cdi-paris-hf/">[CDI] Paris - "Growth Manager" pour Flayr</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>