<head>
	<title>Une vraie stratégie de croissance - Newsletter 04 Octobre 2015</title>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Pleins de bonnes choses cette semaine avec notamment un article sur l'approche adoptée par Facebook & Remind concernant leur stratégie de croissance ainsi qu'un nouveau produit Google (Alphabet?): Customer Match." />
    <meta name="author" content="The Growth Bakery" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
    <meta name="robots" content="index,follow" />
    
    <meta property="og:title" content="Une vraie stratégie de croissance" />
    <meta property="og:site_name" content="The Growth Bakery" />
    <meta property="og:url" content="http://growthbakery.com/vraie-strategie-croissance" />
    <meta property="og:description" content="Pleins de bonnes choses cette semaine avec notamment un article sur l'approche adoptée par Facebook & Remind concernant leur stratégie de croissance ainsi qu'un nouveau produit Google (Alphabet?): Customer Match." />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="article:author" content="https://www.facebook.com/maxime.salomon" />
	<meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
	<%= tag(:meta, :property => 'og:image', :content => asset_url("newsletters/4-octobre.png")) %>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@GrowthBakery">
	<meta name="twitter:creator" content="@MaximeSalomon">
	<meta name="twitter:url" content="http://growthbakery.com/vraie-strategie-croissance">
	<meta name="twitter:title" content="Une vraie stratégie de croissance">
	<meta name="twitter:description" content="Pleins de bonnes choses cette semaine avec notamment un article sur l'approche adoptée par Facebook & Remind concernant leur stratégie de croissance ainsi qu'un nouveau produit Google (Alphabet?): Customer Match.">
	<%= tag(:meta, :property => 'twitter:image', :content => asset_url("newsletters/4-octobre.png")) %>
</head>

<div class="main-wrapper">
	<%= render "layouts/header" %>
	<section class="newsletter-page">
		<div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1>Une vraie stratégie de croissance</h1>
					<div class="newsletter-date">
						<p>Newsletter du 4 Octobre 2015</p>
					</div>
					<div class="col-md-2"></div>
				    <div class="col-md-8">
				    	<div class="introduction">
							<p>Hello !</p></br>
							<p>Pleins de bonnes choses cette semaine avec notamment un article sur l'approche adoptée par Facebook & Remind concernant leur stratégie de croissance ainsi qu'un nouveau produit Google (Alphabet?): Customer Match.</p></br>
							<p>Bonne lecture et bonne semaine,</br>L'équipe TGB</p>
						</div>
						<hr>
						<div class="best-resources">
							<div class="title">
								<h2>Ressources à découvrir</h2>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="http://firstround.com/review/heres-what-a-real-growth-strategy-looks-like-road-tested-by-facebook-and-remind/">
											[Article] Here's What a Real Growth Strategy Looks Like
										</a>
									</p>
								</div>
								<div class="description">
									<p>"You can have a great growth plan, but it won't work if you don't have the humility it takes to understand your audience and the truth about how they're using your product.”</p>
									<br>
									<p>“Set big ambitious goals, meet them, and then set higher ones. You're doing growth right if you accept that your work will never be done."</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://medium.com/swlh/diligence-at-social-capital-part-1-accounting-for-user-growth-4a8a449fddfc">
											[Article] Part 1: Accounting for User Growth
										</a>
									</p>
								</div>
								<div class="description">
									<p>Jonathan Hsu, ex-Facebook maintenant chez Social Capital, partage la façon dont SC effectue les vérifications nécessaires au niveau growth préalablement à un investissement.</p>
									<br>
									<p>MAU(t) - MAU(t - 1 month) = new(t) + resurrected(t) - churned(t)</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://medium.com/swlh/diligence-at-social-capital-part-2-accounting-for-revenue-growth-551fa07dd972">
										[Article] Part 2: Accounting for Revenue Growth
										</a>
									</p>
								</div>
								<div class="description">
									<p>Deuxième article de Jonathan Hsu pour Social Capital avec cette fois un focus sur la comptabilité de la croissance des revenus d’une startup. À lire !</p>
									<br>
									<p>MRR(t) - MRR(t - 1 month) = new(t) + resurrected(t) + expansion(t) - churned(t) - contraction(t)</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p><a href="https://medium.com/point-nine-news/5-reasons-why-your-team-gets-stuck-with-inbound-marketing-2a401e4d8de">
										[Article] Why Your Team Gets Stuck With Inbound Marketing
									</a></p>
								</div>
								<div class="description">
									<p>
										Très bon article de Clément Vouillon pour Point 9 Capital sur les possibles raisons du non-fonctionnement de votre stratégie d’inbound marketing
									</p>
								</div>
							</div>
							<div class="resources">
								<div class="title">
									<p>
										<a href="https://medium.com/@jasonfried/how-we-lost-and-found-millions-by-not-a-b-testing-e70f27dd783e">
										[Article] How we lost (and found) millions by not A/B testing
										</a>
									</p>
								</div>
								<div class="description">
									<p>Retour d’expérience intéréssant de la part de Basecamp sur la façon dont ils ont lancé le rebranding de Basecamp.com et les conséquences sur leur taux de conversion. </p>
								</div>
							</div>
						</div>					
						<hr>
						<div class="products-discover">
							<div class="title">
								<h2>Les produits de la semaine</h2>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://clearbit.com">
											[Produit] Clearbit - Powerful APIs To Help Your Business Grow
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Clearbit est une suite d’APIs business qui vous permet d’obtenir des données qualifiées sur une entreprise grâce à un call d’api. Les APIs disponibles: Enrichment, Discovery & Watchlist.
									</p>
								</div>
								<div class="image">
									<a href="https://clearbit.com"><%= image_tag("newsletters/clearbit.png", :alt => "Clearbit", :width => 600) %></a>
								</div>
							</div>
							<div class="products">
								<div class="title">
									<p>
										<a href="https://support.google.com/adwords/answer/6276125">
											[Produit] Google Customer Match
										</a>
									</p>
								</div>
								<div class="description">
									<p>
										Opportunité à saisir ! Les annonceurs seront en mesure de télécharger des listes de courriels de cibler les clients et le public avec des annonces similaires sur la recherche, Gmail et YouTube
									</p>
								</div>
								<div class="image">
									<a href="https://support.google.com/adwords/answer/6276125"><%= image_tag("newsletters/customer-match.png", :alt => "Google Customer Match", :width => 600) %></a>
								</div>
							</div>
							<hr>
							<div class="jobs-week">
								<div class="title">
									<h2>Les jobs de la semaine</h2>
								</div>
								<div class="jobs">
									<p><a href="https://www.linkedin.com/jobs2/cap/view/76605505">[CDI] Londres - "SEO Manager" pour Iron Web</a></p>
								</div>
								<div class="jobs">
									<p><a href="https://www.brief.me/recrutement/">[CDI] Paris - "Growth Hacker" pour Brief.me</a></p>
								</div>		
								<div class="jobs">
									<p><a href="http://www.festicket.com/jobs/#new-ecrm-manager">[CDI] Londres - “Marketing - Email & Engagement" pour Festicket</a></p>
								</div>
								<div class="jobs">
									<p><a href="http://azertyjobs.com/job/growth-manager-flayrfr-cdi-paris-hf/">[CDI] Paris - "Growth Manager" pour Flayr</a></p>
								</div>
								</br>
							</div>
				    	</div>
				    <div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</section>
	<%= render "layouts/footer" %>
</div>