<% content_for :title, "Resources"  %>
<% content_for :description, "This is the meta description for the resources-admin menu" %>
<% content_for :css do %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<%= stylesheet_link_tag "admin", "magnific-popup", "font-icons", "trumbowyg.min", "style"  %>
<% end %>

<body class="nav-md">
    <div class="container body admin-body">
        <div class="main_container admin-body">
            <%= render "shared/admin_menu" %>
            <div class="right_col clearfix" role="main">
                <div class="col-md-12 col-sm-12 col-xs-12 table-fade <%= table_hidden? %>">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                <i class="fa fa-archive"></i>
                                Resources |
                                <a onclick="createForm()" class="btn btn-sm btn-round btn-success">
                                    <i class="fa fa-plus"></i>
                                    <%= @action %>
                                    Resource</a>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">#</th>
                                        <th>Title</th>
                                        <th>Link</th>
                                        <th>Author</th>
                                        <th>Grade</th>
                                        <th>Date</th>
                                        <th>Categories</th>
                                        <th>Type</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @resources.each do |resource| %>
                                    <tr>
                                        <td scope="row" class="hidden-xs"><%= resource.id %></td>
                                        <td>
                                            <%= link_to resources_show_path(resource)  do %>
                                            <i class="fa fa-search"></i>
                                            <%= resource.title %>
                                            <% end %>
                                        </td>
                                        <td><a href="<%= resource.link %>">Link</a></td>
                                        <td><%= resource.author %></td>
                                        <td><%= resource.grade %> Stars</td>
                                        <td><%= resource.date %></td>
                                        <td><%= resource.category_name %></td>
                                        <td><%= resource.resource_type %></td>
                                        <td>
                                            <%= link_to(edit_resource_path(resource), class: "edit-link") do %>
                                            <i class="fa fa-pencil"></i>
                                            edit
                                            <% end %>
                                            |
                                            <%= link_to resource_path(resource), method: "delete", data: {confirm: 'Are you sure?'} do %>
                                            <i class="fa fa-trash"></i>
                                            delete
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="create-form" class="col-md-12 col-sm-12 col-xs-12 margin-top create-form <%= form_hidden? %>">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                <i class="fa fa-archive"></i>
                                <%= @action %>
                                Resource
                                <span class="<%= form_hidden? %>">|</span>
                                <%= link_to("All Resources", resources_path, class: "open-form btn btn-sm btn-round btn-success #{form_hidden?}", data: {confirm: 'Your changes will not be saved - proceed?'}) %></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <%= link_to "#", class: "change-locale" do %>
                                    <div class="locale locale-menu <%= I18n.locale %>"></div>
                                    <% end %>
                                </li>
                            </ul>
                            <ul class="nav navbar-right panel_toolbox <%= table_hidden? %>">
                                <li>
                                    <a onclick="closeForm();">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br>
                            <%= form_for(@resource, html: { class: "form-horizontal form-label-left", id: "demo-form2", multipart: true }) do |f| %>
                            <%= render "shared/error_messages", object: @resource %>
                            <div class="form-group locale-field">
                                <%= f.label :title, "Title", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_field :title, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :description, "Description", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_area :description, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :slug, "URL", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_field :slug, class: "form-control col-md-7 col-xs-12", placeholder: "my-cool-resource" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :link, "Link", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_field :link, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :website, "Website", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_field :website, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :author, "Author", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.text_field :author, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :grade, "Grade", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.number_field :grade, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :date, "Date", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.date_field :date, class: "form-control col-md-7 col-xs-12" %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :categories, "Categories", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <%=   f.select :categories, options_from_collection_for_select(Category.all, "id", "name", @resource.categories.map(&:id)), {}, {multiple: true, class: "form-control col-md-7 col-xs-12"} %>
                                </div>
                            </div>
                            <div class="form-group locale-field">
                                <%= f.label :resource_type, "Type", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <%= f.select :resource_type, options_for_select(["article", "video", "presentation", "link"], selected: @resource.resource_type),{}, {class: "form-control col-md-7 col-xs-12"} %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <%= f.submit "#{@action} Resource", class: "text-center btn btn-success" %>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% content_for :js do %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag "jquery_ujs", "admin", "trumbowyg.min", "script" %>
    <% end %>
</body>
