<!-- CONTENT -->
<%= content_for :css do %>
<%= stylesheet_link_tag  "bootstrap", "models/articles",  "stack-interface", "socicon", "lightbox.min", "flickity", "iconsmind", "theme"  %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
<% end %>

<!-- OPEN GRAPH TAGS & STYLING -->
<% content_for :title, @resource.title  %>
<% content_for :description, @resource.description %>
<% content_for :ogtitle, @resource.title %>
<% content_for :ogdescription, @resource.description %>
<% content_for :ogtype, "article" %>

<%= render "shared/stack_navbar" %>
<main role="main" class="main clearfix">
    <div class="js__article article__main" data-title="Finding your way from maker to manager">
        <div class="container">
            <div class="article__hero">
                <a href="#" class="f__up f__no-und categories__link js__category-name"><%= @resource.resource_type.capitalize %></a>
                <span class="categories__separator-white">|</span>
                <span class="f__up categories__text">
                    <span class="js__read-time">
                        <%= @resource.description.reading_time :format => :approx %></span>
                    read</span>
                <h1 class="article__hero-title js__article-hero-title"><%= @resource.title %></h1>
            </div>
        </div>

        <div class="hero">
            <div class="hero__image clearfix">
                <%= image_tag "default.png" %>
            </div>
        </div>
        <div class="container">
            <div class="article__wrap ">
                <article>
                    <div class="article__body article__title">
                        <%= @resource.description %><br/>
                        <strong>Author:</strong> <%= @resource.author %><br/>
                        <strong>Grade:</strong> <%= @resource.grade %> Stars<br/>
                        <strong>Date:</strong>  <%= @resource.date.strftime("%B #{@resource.date.day.ordinalize} %Y") %><br/>
                        <strong>Category:</strong> <%= @resource.category_name %><br/>
                        <%= link_to "Link", @resource.link %>
                        <%= link_to "Website", @resource.website %>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>
</section>
<%= render "shared/stack_footer" %>
<% content_for :js do %>
<%= javascript_include_tag "jquery-3.1.1.min", "flickity.min", "parallax", "typed.min", "isotope.min", "ytplayer.min", "lightbox.min", "granim.min", "countdown.min", "twitterfetcher.min", "spectragram.min", "smooth-scroll.min", "scripts"  %>
<% end %>
