<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield :title %> | The Growth Bakery </title>
    <html lang="en">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<%=yield(:description) %>"/>
      <meta name="author" content="The Growth Bakery"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="robots" content="index, follow">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      <meta property="og:site_name" content="The Growth Bakery" />
      <meta property="og:title" content="<%= yield :ogtitle %>"/>
      <meta property="og:description" content="<%= yield :ogdescription %>"/>
      <meta property="og:type" content="article" />
      <meta property="og:url" content="<%= request.original_url %>"/>
      <meta property="og:image" content="<%= yield :ogimage %>"/>
      <meta property="article:publisher" content="https://www.facebook.com/growthbakery" />
      <meta property="og:locale" content="en_US" />
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@GrowthBakery">
      <meta name="twitter:creator" content="@MaximeSalomon">
      <meta name="twitter:url" content="<%= request.original_url %>">
      <meta name="twitter:title" content="<%= yield :ogtitle %>">
      <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>"/>
      <%= csrf_meta_tags %>
    </head>
    <body class="<%= yield :body_class %>">
      <% flash.each do |message_type, message| %>
        <div class="notification pos-left pos-top col-sm-4 col-md-3" data-animation="from-top" data-autoshow="500" data-autohide="3500">
          <div class="boxed boxed--border border--round box-shadow">
            <%= message %>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <%= yield :css %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <!-- Optimizely -->
      <script src="//cdn.optimizely.com/js/3232190595.js"></script>
      <script type="text/javascript" src="https://snip.ly/site/56275bbc6e955269855fa2fc.js"></script>
      <!-- Google analytics -->
      <script type="text/javascript">
        !function () {
          var analytics = window.analytics = window.analytics || [];
          if (!analytics.initialize)
          if (analytics.invoked)
          window.console && console.error && console.error("Segment snippet included twice.");
          else {
          analytics.invoked = !0;
          analytics.methods = [
          "trackSubmit",
          "trackClick",
          "trackLink",
          "trackForm",
          "pageview",
          "identify",
          "group",
          "track",
          "ready",
          "alias",
          "page",
          "once",
          "off",
          "on"
          ];
          analytics.factory = function (t) {
          return function () {
          	var e = Array.prototype.slice.call(arguments);
          	e.unshift(t);
          	analytics.push(e);
          	return analytics
          }
          };
          for (var t = 0; t < analytics.methods.length; t++) {
          var e = analytics.methods[t];
          analytics[e] = analytics.factory(e)
          }
          analytics.load = function (t) {
          var e = document.createElement("script");
          e.type = "text/javascript";
          e.async = !0;
          e.src = ("https:" === document.location.protocol
          ? "https://"
          : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
          var n = document.getElementsByTagName("script")[0];
          n.parentNode.insertBefore(e, n)
          };
          analytics.SNIPPET_VERSION = "3.0.1";
          analytics.load("PnGBZ4AU8r3ObQ5uuLBykl2AGZnEriem");
          analytics.page()
          }
          }();
      </script>
      <!-- Sumome -->
      <script src="//load.sumome.com/" data-sumo-site-id="05c7c1fa06e0605735d7e11bee46ba6b94e324de4d17683792d8c35b3e058b1c" async="async"></script>
      <!-- Inspectlet -->
      <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
  			__insp.push(['wid', 1765014167]);
  			(function () {
  				function __ldinsp() {
  					var insp = document.createElement('script');
  					insp.type = 'text/javascript';
  					insp.async = true;
  					insp.id = "inspsync";
  					insp.src = ('https:' == document.location.protocol
  					? 'https'
  					: 'http') + '://cdn.inspectlet.com/inspectlet.js';
  					var x = document.getElementsByTagName('script')[0];
  					x.parentNode.insertBefore(insp, x);
  				};
  				document.readyState != "complete"
  				? (window.attachEvent
  				? window.attachEvent('onload', __ldinsp)
  				: window.addEventListener('load', __ldinsp, false))
  				: __ldinsp();

  			})();
      </script>
      <!-- Facebook Conversion Code for Visited GrowthBakery.com -->
      <script>
        (function () {
      		var _fbq = window._fbq || (window._fbq = []);
      		if (!_fbq.loaded) {
      			var fbds = document.createElement('script');
      			fbds.async = true;
      			fbds.src = '//connect.facebook.net/en_US/fbds.js';
      			var s = document.getElementsByTagName('script')[0];
      			s.parentNode.insertBefore(fbds, s);
      			_fbq.loaded = true;
      		}
      	})();
      	window._fbq = window._fbq || [];
      	window._fbq.push([
      	'track',
      	'6025811922822', {
      		'value': '0.00',
      		'currency': 'EUR'
      	}
              			]);
      </script>
      <noscript>
        <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025811922822&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1"/>
      </noscript>
      <%= yield :js %>
    </body>
  </html>
